@model AntBoxFrontEnd.Models.OrderViewModel

@{
    ViewBag.Title = "Antbox";
}









<!-- WRAPPER -->
<div class="wrapper precios">

    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-check-square-o"></i>
                    <h1>Precios</h1>
                    <div class="divider"></div>
                    <span class="subtitle">Usa sin salir de casa y paga solo lo que usas</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content no-pt">

        <!-- CONTAINER -->
        <div class="iwrap">
            <section class="container">
                <div class="row text-wrap text-center">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-animate="fadeInDown">
                        <h1>Solicita tus Antboxs sin salir de casa y paga solamente las que usas</h1>
                        <p>
                            Solicita desde tu dispositivo móvil o por teléfono las Antboxs que necesites y paga únicamente por las que uses.<br>
                            Indícanos cuando te las dejemos, cuando las recogemos y cuando te las devolvemos.<br>

                            Solo requieres tu cuenta de usuario y registrar una tarjeta de crédito.<br>

                            Antboxs.<br>

                            Almacenamiento Fácil, Seguro y Conveniente.
                        </p>
                        <div class="heading-divider heading-divider-xs"></div>
                    </div>
                </div>
            </section>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-sm text-center ml0 mr0">
                <div class="col-md-3 col-sm-6 card card-light card-border-top-3">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-archive"></i>
                    </div>
                    <h4>1. Agregar Antboxs</h4>
                </div>
                <div class="col-md-3 col-sm-6 card card-light card-lighter card-border-top-4">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-truck fa-flip-horizontal icon_grey"></i>
                    </div>
                    <h4>2. Agendar entregas</h4>
                </div>
                <div class="col-md-3 col-sm-6 card card-light card-darker card-border-top-4">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-user icon_grey"></i>
                    </div>
                    <h4>3. Crear nueva cuenta</h4>
                </div>
                <div class="col-md-3 col-sm-6 card card-light card-lighter card-border-top-4">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-thumbs-up icon_grey"></i>
                    </div>
                    <h4>4. ¡Orden completa!</h4>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs cards">
                <div class="col-sm-12">
                    <h2>Agregar Antboxs</h2>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt30">
            <form class="form-solid">
                <div class="row">
                    <div class="col-sm-6 col-md-7">
                        <div class="irow-xs pb30">
                            <p>Ordenar tus Antboxs es muy sencillo, solo indícanos cuántas Antboxs necesitas y a qué direcciones debemos enviártelas.</p>
                            @if (Session["customer"] == null)
                            {
                                <div class="alert alert-warning">
                                    <p><i class="fa fa-exclamation-triangle"></i> <strong>¿Ordenas por primera vez?</strong> Recuerda que el período mínimo de contratación es por tres meses, aunque si tú lo decides, podrás retirar tus Antboxs antes de ese tiempo.</p>
                                </div>
                            }
                            
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <div class="card card-image pt0 pb0">
                            <figure class="figure ">
                                <!--Agregar a clase para slider: "slider oneslider"-->
                                <ul data-fx="crossfade" data-auto="true" data-timeout="4500">
                                    <li>
                                        <img src="~/Images/antboxs_chica.png" alt="">
                                    </li>
                                    <!--<li>
                                        <a href="">
                                            <img src="images/antboxs_chica.jpg" alt="">
                                        </a>
                                    </li>-->
                                </ul>
                                <!--<a class="slider-arrow slider-arrow-prev" href=""></a>
                                <a class="slider-arrow slider-arrow-next" href=""></a>
                                <nav class="slider-pagination pb70"></nav>-->
                            </figure>
                        </div>
                    </div>
                </div>
                    @{ 
                        Html.RenderPartial("_BoxesPartialView", Model.Boxes);
                    }

                    
            </form>
        </div>
        <!-- /.container -->


    </div>
    <!-- /.content -->

</div>
<!-- /.wrapper -->
@section scripts {
    <script type="text/javascript">

    $(function () {
        $('#quantityvalue').keypress(function (e) {
            var txt = String.fromCharCode(e.which);
            if (!txt.match(/[0-9]/)) {
                return false;
            }
        });

        $('.checkdisplay').change(function () {
            if (this.checked)
                $('.todisplay').fadeIn('slow');
            else
                $('.todisplay').fadeOut('slow');

        });

        $(".amount").each(function () {
            $(this).text($(this).text().replace(",", "."));
        });
    })

    function AddBox(ide) {
        var p = '#Price_' + ide;
        var q = '#quantity_' + ide;

        var priceObj = $('#Price_' + ide)
        var quantityObj = $('#quantity_' + ide)

        var price = priceObj.html();
        var deposit = 158;
        var quantity = quantityObj.val();

        quantity++;

        lineSub = price * quantity;
        depositSub = deposit * quantity;

        $('#LineTotal_' + ide).html(lineSub);
        $('#LineTotal_' + ide).parent().find('.deposit_antbox_total').val(depositSub);
        recalculateTotal();


        var boxobj = $('#box_' + ide);

        var boxid = boxobj.val();

        var data = JSON.stringify({ "boxid": boxid, "quantity": quantity })

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("TempUpdateAntboxes", "Customer")',
            // data: $('#frmNewAddress').serialize(),
            data: data,
            success: function (d) {

            }

        });
    }

    function RemoveBox(ide) {
        var p = '#Price_' + ide;
        var q = '#quantity_' + ide;

        var priceObj = $('#Price_' + ide)
        var quantityObj = $('#quantity_' + ide)

        var price = priceObj.html();
        var quantity = quantityObj.val();
        var deposit = 158;

        quantity--;
        if (quantity>=0)
        {
            lineSub = price * quantity;
            depositSub = deposit * quantity;
            
            $('#LineTotal_' + ide).html(lineSub);
            $('#LineTotal_' + ide).parent().find('.deposit_antbox_total').val(depositSub);
        }
        recalculateTotal();
        var boxobj = $('#box_' + ide);

        var boxid = boxobj.val();

        var data = JSON.stringify({ "boxid": boxid, "quantity": quantity })

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("TempUpdateAntboxes", "Customer")',
            // data: $('#frmNewAddress').serialize(),
            data: data,
            success: function (d) {

            }

        });
    }


    function ActualizaCajas() {

    }


    function recalculateTotal()
    {
        var discountObj =  $( '#Discount' );
        var subtotalObj =  $( '#Subtotal' );
        var taxObj =  $( '#Tax' );
        var totalObj = $('#Total');

        var subDepositObj = $('.sub_deposit');
        var ivaDepositObj = $('.iva_deposit');
        var totalDepositObj = $('.total_deposit');

        var subtotal = 0;
        var subtotaldeposit = 0;
        var totaldeposit= 0;
        $( ".toSum" ).each(function( i ) {
            subtotal += parseFloat($(this).text());
            if (!isNaN(parseFloat($(this).parent().find('.deposit_antbox_total').val())))
                totaldeposit += parseFloat($(this).parent().find('.deposit_antbox_total').val());
        });

        var tax = (subtotal * 0.16);
        var taxdeposito = totaldeposit - (totaldeposit / 1.16);
        var total = parseFloat(subtotal + tax);
        var subtotaldeposit = totaldeposit / 1.16;

        subtotalObj.text(subtotal.toFixed(2));
        taxObj.text(tax.toFixed(2));
        totalObj.text(total.toFixed(2));

        subDepositObj.text(subtotaldeposit.toFixed(2));
        ivaDepositObj.text(taxdeposito.toFixed(2));
        totalDepositObj.text(totaldeposit.toFixed(2));

    }

    var CartLine = function () {
        var self = this;



    }

    </script>



    <script type="text/javascript">
    function QuantityChange() {
        alert("Entro al on change");



    }



    </script>
}