/*----------------------------------- GENERAL -------------------------------------*/

.ml0 {margin-left: 0px !important;}
.mt0 {margin-top: 0px !important;}
.mr0 {margin-right: 0px !important;}
.mb0 {margin-bottom: 0px !important;}

.pl0 {padding-left: 0px !important;}
.pt0 {padding-top: 0px !important;}
.pr0 {padding-right: 0px !important;}
.pb0 {padding-bottom: 0px !important;}

.ml5 {margin-left: 5px !important;}
.mt5 {margin-top: 5px !important;}
.mr5 {margin-right: 5px !important;}
.mb5 {margin-bottom: 5px !important;}

.pl5 {padding-left: 5px !important;}
.pt5 {padding-top: 5px !important;}
.pr5 {padding-right: 5px !important;}
.pb5 {padding-bottom: 5px !important;}

.ml10 {margin-left: 10px !important;}
.mt10 {margin-top: 10px !important;}
.mr10 {margin-right: 10px !important;}
.mb10 {margin-bottom: 10px !important;}

.ml15 {margin-left: 15px !important;}

.pl10 {padding-left: 10px !important;}
.pt10 {padding-top: 10px !important;}
.pr10 {padding-right: 10px !important;}
.pb10 {padding-bottom: 10px !important;}

.ml20 {margin-left: 20px !important;}
.mt20 {margin-top: 20px !important;}
.mr20 {margin-right: 20px !important;}
.mb20 {margin-bottom: 20px !important;}

.pl20 {padding-left: 20px !important;}
.pt20 {padding-top: 20px !important;}
.pr20 {padding-right: 20px !important;}
.pb20 {padding-bottom: 20px !important;}

.ml30 {margin-left: 30px !important;}
.mt30 {margin-top: 30px !important;}
.mr30 {margin-right: 30px !important;}
.mb30 {margin-bottom: 30px !important;}

.pl30 {padding-left: 30px !important;}
.pt30 {padding-top: 30px !important;}
.pr30 {padding-right: 30px !important;}
.pb30 {padding-bottom: 30px !important;}

.ml40 {margin-left: 40px !important;}
.mt40 {margin-top: 40px !important;}
.mr40 {margin-right: 40px !important;}
.mb40 {margin-bottom: 40px !important;}

.pl40 {padding-left: 40px !important;}
.pt40 {padding-top: 40px !important;}
.pr40 {padding-right: 40px !important;}
.pb40 {padding-bottom: 40px !important;}

.ml50 {margin-left: 50px !important;}
.mt50 {margin-top: 50px !important;}
.mr50 {margin-right: 50px !important;}
.mb50 {margin-bottom: 50px !important;}

.pl50 {padding-left: 50px !important;}
.pt50 {padding-top: 50px !important;}
.pr50 {padding-right: 50px !important;}
.pb50 {padding-bottom: 50px !important;}

.ml60 {margin-left: 60px !important;}
.mt60 {margin-top: 60px !important;}
.mr60 {margin-right: 60px !important;}
.mb60 {margin-bottom: 60px !important;}

.pl60 {padding-left: 60px !important;}
.pt60 {padding-top: 60px !important;}
.pr60 {padding-right: 60px !important;}
.pb60 {padding-bottom: 60px !important;}

.ml70 {margin-left: 70px !important;}
.mt70 {margin-top: 70px !important;}
.mr70 {margin-right: 70px !important;}
.mb70 {margin-bottom: 70px !important;}

.pl70 {padding-left: 70px !important;}
.pt70 {padding-top: 70px !important;}
.pr70 {padding-right: 70px !important;}
.pb70 {padding-bottom: 70px !important;}

a:hover {
    cursor: pointer;
 }
/* Botones de regresar */
.btn_blue {
    background-color: #192151!important;
}
.btn_blue:hover {
    background-color: #2f3b80!important;
}

.floatr {
    float: right;
}
.floatl {
    float: left;
}
/*----------------------------------- INICIO -------------------------------------*/

/*Tamaño de los círculos rojos con los números*/
.inicio .icon.icon-size-3.icon-rounded, .inicio .icon.icon-size-3.icon-square {
    width: 52px;
    height: 52px;
}
/*Color de fondo de los círculos de flechas*/
.inicio .steps-2 [class*=col-] + [class*=col-]:before {
    background-color: #ba2025;
}
/* Tamaño de los número de los círculos*/
.inicio .steps-2 i {
    font-size: 24px;
}
/* Centrar número de círculos */
.inicio .icon.icon-rounded i, .icon.icon-square i {
    top: 55%;
    left: 47%;
}
/* Bajar el padding del hover de los 4 pasos */
.inicio .mask-info {
    padding-left: 10px;
    padding-right: 10px;
}
/* quitar el ancho de 100% a las imágenes de los 4 pasos */
.inicio .figure img {
    width: inherit;
}

/*----------------------------------- MENU -------------------------------------*/
/* Fondo blanco en submenu */
.header-light .dropdown-menu {
    background: #fff;
}
.header-extra-top {
    background-color: #f5f5f5;
}
/*----------------------------- Padding arriba/abajo de menu top oculto -----------------------------*/
.corner-container .container {
    display: none;
    padding: 0px;
}



/*----------------------------- Cambio de color de barrita lateral izquierda en menú mobile -----------------------------*/
.no-menu .header:not(.header-vertical) .navbar-collapse .navbar-nav > li:hover > a,
.no-menu .header:not(.header-vertical) .navbar-collapse .navbar-nav > li.open > a,
.no-menu .header:not(.header-vertical) .navbar-collapse .navbar-nav > li > a:focus
{
    border-left-color: #192151;
}

/* Estilo de btn Entrar */
.btn-link {
    color: #ba2025;
    border: 0;
}
.btn-link:hover {
    color: #cf2626;
}
.btn-link:visited, .btn-link:focus  {
    color: #ba2025;
}
/* Hacer visible el botón de Entrar */
.navbar-account nav .btn-link {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    color: #000;
}
/* Acomodar el icono de btn Entrar */
.navbar-account nav button i
{
    font-size: 16px;
    margin-right: 5px;
    margin-top: -3px;
    color: #000;
}

/*----------------------------------- CÓMO FUNCIONA -------------------------------------*/
/* Pading del background images */
.como_funciona .highlight {
    padding-top: 170px !important;
    padding-bottom: 170px !important;
}

/*----------------------------------- PRECIOS -------------------------------------*/
/* Ocultar campo de colonia */
.precios #hidden_div1, #hidden_div2 {
    display: none;
}
.precios textarea {
    height: 130px;
}
.precios .tabs-icons-square .nav-tabs > li > a {
    width: 60px;
    height: 60px;
    line-height: 60px;
}
.precios .card-border-top-3
{
    border-top: 0px;
    border-bottom: 4px solid #ba2025;
}
.precios .card-border-top-4
{
    border-bottom: 4px solid transparent;
}
.precios .icon_grey {
    color: #dedede;
}
.precios .card {
    padding-top: 30px;
    padding-bottom: 30px;
}
.coupon .input-text {
    max-width: 155px;
}

.link_red {
    color: #ba2025;
}
.link_red:hover {
    color: #ba2025;
    text-decoration: underline;
}

.todisplay {
    display: none;
}

.check_deposito {
    text-align: left !important;
    padding-left: 0px !important;
}

.hr_ordenar {
    margin: 10px auto;
}
.cant_antboxs {
    font-weight: 600;

}

/*----------------------------------- QUE DEBO HACER -------------------------------------*/
.height-300 {
    height: 100%;
}

/*----------------------------------- PREGUNTAS FRECUENTES -------------------------------------*/
.preguntas_frecuentes .panel-body {
    padding-top: 10px;
}
.preguntas_frecuentes .panel-body p {
    padding-top: 0px;
    margin-bottom: 10px;
}

.preguntas_frecuentes .nobg p, .inicio .intro p {
    padding-top: 0px;
    margin-bottom: 15px;
}
.preguntas_frecuentes .media{
    margin-bottom: 10px !important;
}
.preguntas_frecuentes .panel-bottom-border .panel-heading a {
    padding: 13px 0;
}
/*----------------------------------- CONTACTO -------------------------------------*/
/* Cuadros de Información Adicional */
.contacto .tabs-icons-square .nav-tabs > li > a {
    width: 59px;
    height: 59px;
}
/* Alinear cuadros en Info Adicional */
.contacto [class*=tabs-vertical][class*=tabs-icons] .tab-content {
    padding: 0 0;
}
/* Tamaño de iconos en Cuadros de Información Adicional */
.contacto [class*=tabs-icons] .nav-tabs > li > a i {
    font-size: 30px;
}
/* Centrar iconos en Cuadros de Información Adicional */
.contacto .nav-tabs > li > a i {
    top: -15px;
}
/*----------------------------------- FOOTER -------------------------------------*/
.footer-extra {
	background-color: #fff;
}
/* Color de la flecha del btn para abrir menú de footer */
.pagetitle-toggle:after, .pagetitle-toggle:hover:after{
    color: #fff;
}
/* Color del círculo de la flecha del btn para abrir menú de footer */
.pagetitle-toggle.collapsed, .pagetitle-toggle {
    background-color: #b91f25;
}
/* Color del círculo de la flecha del btn para abrir menú de footer :hover */
.pagetitle-toggle:hover {
    background-color: #192151;
}
/* Quitar el margen derecho de info contacto */
.footer .widget_contact .fa {
	margin-right: 0px;
}

.heading-divider-new
{
    display: block;
    width: 100%;
    height: 4px;
    background-color: green;
}

.border_bottom {
    border-bottom: 4px solid red;
}

.has-error .chosen-container {
    background-color: #ffc7c7 !important;
}