@font-face{ 
    font-family: 'Nexa_Light';
    src: url('../fonts/Nexa_Light-webfont.eot');
    src: url('../fonts/Nexa_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nexa_Light-webfont.woff') format('woff'),
         url('../fonts/Nexa_Light-webfont.ttf') format('truetype'),
         url('../fonts/Nexa_Light-webfont.svg#webfont') format('svg');
}

@font-face{ 
    font-family: 'Nexa_Bold';
    src: url('../fonts/Nexa_Bold-webfont.eot');
    src: url('../fonts/Nexa_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nexa_Bold-webfont.woff') format('woff'),
         url('../fonts/Nexa_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Nexa_Bold-webfont.svg#webfont') format('svg');
}

header, h1, h2, h3, h4, h5, h6, div, nav, .widget_tag_cloud .tagcloud a, .btn, .table-responsive table th, .nav-tabs li a, .inicio .mask-light.mask-info p {
    /*font-family: 'Nexa_Bold', FontAwesome !important;*/
    font-family: 'Lato', sans-serif !important;
}

p, a, address, input, textarea, .active-result, .contact-info, label, .table-responsive table, .countup-amount, .pagetitle .subtitle{
    font-family: 'Nexa_Light', FontAwesome !important; 
}

.navbar-account span {
    font-family: 'Nexa_Light', FontAwesome !important; 
    font-size: 16px !important;
    line-height: 20px;
}

.footer .pagetitle i, .footer  .pagetitle h1, .footer  .pagetitle span {
    color: #666 !important;
}


p, .page-header p {
    font-size: 115% !important;
}

input {
    font-size: 100% !important;
}
/*----------------------------- TamaÃ±o fuente de video-galerÃ­a -----------------------------*/
.bannercontainer p {
    font-size: 1.2em !important;
    line-height: 1.5em !important;
}

label, .etiqueta {
    color: #666 !important;
}

.iwrap h1 {
    font-size: 215%;
}

.table-responsive table {
    font-size: 95% !important;
}
.shop_table tbody {
    font-size: 90% !important;
}
/*h1, h2 {
    font-size: 32px;
}*/

.pagetitle .subtitle {
    font-size: 100% !important;
}
address  {
    font-size: 110% !important;
}

p, address, .pagetitle .subtitle, .rs {
    color: #000 !important;
}

/*Color de fuente background image - CÃ³mo funciona*/
.inverse p, .inverse q, .banner p {
    color: #fff !important;
}

.footer  a, .footer .rs {
    font-weight: 400 !important;
    text-decoration: none;
    color: #000;
    font-size: 115% !important;
}
.font-bold {
    font-family: 'Nexa_Bold', FontAwesome !important; 
}