/*----------------------------------- GENERAL -------------------------------------*/

.ml0 {margin-left: 0px !important;}
.mt0 {margin-top: 0px !important;}
.mr0 {margin-right: 0px !important;}
.mb0 {margin-bottom: 0px !important;}

.pl0 {padding-left: 0px !important;}
.pt0 {padding-top: 0px !important;}
.pr0 {padding-right: 0px !important;}
.pb0 {padding-bottom: 0px !important;}

.ml5 {margin-left: 5px !important;}
.mt5 {margin-top: 5px !important;}
.mr5 {margin-right: 5px !important;}
.mb5 {margin-bottom: 5px !important;}

.pl5 {padding-left: 5px !important;}
.pt5 {padding-top: 5px !important;}
.pr5 {padding-right: 5px !important;}
.pb5 {padding-bottom: 5px !important;}

.ml10 {margin-left: 10px !important;}
.mt10 {margin-top: 10px !important;}
.mr10 {margin-right: 10px !important;}
.mb10 {margin-bottom: 10px !important;}

.pl5 {padding-left: 5px !important;}

.pl10 {padding-left: 10px !important;}
.pt10 {padding-top: 10px !important;}
.pr10 {padding-right: 10px !important;}
.pb10 {padding-bottom: 10px !important;}

.ml20 {margin-left: 20px !important;}
.mt20 {margin-top: 20px !important;}
.mr20 {margin-right: 20px !important;}
.mb20 {margin-bottom: 20px !important;}

.pl20 {padding-left: 20px !important;}
.pt20 {padding-top: 20px !important;}
.pr20 {padding-right: 20px !important;}
.pb20 {padding-bottom: 20px !important;}

.pt15 {padding-top: 15px !important;}

.ml30 {margin-left: 30px !important;}
.mt30 {margin-top: 30px !important;}
.mr30 {margin-right: 30px !important;}
.mb30 {margin-bottom: 30px !important;}

.pl30 {padding-left: 30px !important;}
.pt30 {padding-top: 30px !important;}
.pr30 {padding-right: 30px !important;}
.pb30 {padding-bottom: 30px !important;}

.ml40 {margin-left: 40px !important;}
.mt40 {margin-top: 40px !important;}
.mr40 {margin-right: 40px !important;}
.mb40 {margin-bottom: 40px !important;}

.pl40 {padding-left: 40px !important;}
.pt40 {padding-top: 40px !important;}
.pr40 {padding-right: 40px !important;}
.pb40 {padding-bottom: 40px !important;}

.ml50 {margin-left: 50px !important;}
.mt50 {margin-top: 50px !important;}
.mr50 {margin-right: 50px !important;}
.mb50 {margin-bottom: 50px !important;}

.pl50 {padding-left: 50px !important;}
.pt50 {padding-top: 50px !important;}
.pr50 {padding-right: 50px !important;}
.pb50 {padding-bottom: 50px !important;}

.ml60 {margin-left: 60px !important;}
.mt60 {margin-top: 60px !important;}
.mr60 {margin-right: 60px !important;}
.mb60 {margin-bottom: 60px !important;}

.pl60 {padding-left: 60px !important;}
.pt60 {padding-top: 60px !important;}
.pr60 {padding-right: 60px !important;}
.pb60 {padding-bottom: 60px !important;}

.ml70 {margin-left: 70px !important;}
.mt70 {margin-top: 70px !important;}
.mr70 {margin-right: 70px !important;}
.mb70 {margin-bottom: 70px !important;}

.pl70 {padding-left: 70px !important;}
.pt70 {padding-top: 70px !important;}
.pr70 {padding-right: 70px !important;}
.pb70 {padding-bottom: 70px !important;}

a:hover {
    cursor: pointer;
 }
/* Botones de regresar */
.btn_blue {
    background-color: #192151!important;
}
.btn_blue:hover {
    background-color: #2f3b80!important;
}

.widget_tag_cloud .tagcloud a {
    font-size: 14px !important;
    font-weight: 400;
    line-height: 28px;

    display: block;

    margin: 0 10px 10px 0;
    padding: 6px 15px;

    vertical-align: top;

    border-radius: 2px;
    background-color: #ebebeb;
}
.widget_tag_cloud .tagcloud a .fa {
    padding-top: 7px;
}
.widget_tag_cloud .tagcloud a:hover
{
    color: #fff;
    background-color: #ba2025;
}

.back_gris {
    background-color: #f5f5f5;
}
.floatr {
    float: right;
}
.floatl {
    float: left;
}

/* Paginadores */
ul.pagination .prev, ul.pagination .next {
    line-height: 40px;
    width: 41px;
    height: 41px;

}
/* Paginadores */
.pagination li[class*=pull-] {
    margin-top: 0px;
}

/* Form opción múltiple */
.active-result {
    color: #000 !important;
}
/* Form opción múltiple */
.active-result:hover {
    background-color: #ba2025;
    color: #fff !important;
}
/*Encabezados*/
.pagetitle .title {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    color: #fff;
}

.btn-link {
    color: #ba2025;
    border: 0;
}
.btn-link:hover {
    color: #cf2626;
}
.btn-link:visited, .btn-link:focus  {
    color: #ba2025;
}

.nav_account .dropdown-toggle {
    padding: 0 0 0 0;
}

.content {
    padding-top: 30px !important;
}
/*----------------------------------- INICIO -------------------------------------*/
.inicio .card {
    padding-top: 20px;
    padding-bottom: 30px;
}
/*----------------------------------- MENU -------------------------------------*/

/* Estilo de circulo de perfil */
.nav_account img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 100%;
}
/* Color de menú superior */
.header-light .dropdown-menu > li > a {
    color: #000 !important;
}
.header-light .dropdown-menu > li > a:hover {
    /*background-color: #192151 !important;*/
    color: #fff!important;
}

/* Breadcrumb color */
.pagetitle {
    background-color: #ba2025;
}

/* Breadcrumb color */
.pagetitle .divider{
    background-color: #fff;
}

.header.header-light {
    border-bottom: 1px solid #ba2025 !important;
}
.promo-box p {
    color: #000;
}
/*----------------------------------- CUENTA -------------------------------------*/

/* Color de fondo tarjeta flip */
.inicio .card-dark{
    background-color: #e2e2e2;
}
/* Medidas de tarjeta flip */
.inicio .card {
    width: 100%;
    min-height: 190px;
}


/*----------------------------------- DIRECCIONES -------------------------------------*/
/* Color de cuadros de direcciones */
.direcciones .back_gris {
    background-color: #f5f5f5;
}

.direcciones .media-body {
    width: 100%;
}
.direcciones textarea, #editar textarea {
    height: 170px;
}

#hidden_div1, #hidden_div2, #hidden_div3 {
    display: none;
}
/*----------------------------------- MOVIMIENTOS -------------------------------------*/

.sticker_mov{
    font-size: 14px;

    position: absolute;
    z-index: 2;
    top: 15px;
    right: 15px;

    display: block;

    padding: 5px 10px 5px 10px;

    text-align: center;

    color: #fff;
    border-radius: 2px;
    
}
.completed {
    background-color: rgba(111,193,80,.8);
}
.in_progress {
    background-color: rgba(249,201,75,.8);
}
.canceled {
    background-color: rgba(220,51,51,.8);
}

.movimientos .media-body p {
 margin-bottom: 10px;
}
.movimientos .media-body h4 {
 margin: 0 0 5px;
}
/*----------------------------------- PAGOS -------------------------------------*/
.pagos .back_gris {
    background-color: #f7f7f7;
}
.pagos .media-body p {
    margin-bottom: 10px;
}
.pagos .media-body h4 {
    margin: 0 0 5px;
}
.pagos .media-body {
    width: 100%;
}
.pagos .radio label {
    line-height: 1.6;
}
#facturar textarea {
    height: 125px;
}
.sticker_pay{
    font-size: 14px;

    position: absolute;
    z-index: 2;
    /*top: 23px;
    right: 30px;*/
    top: 0px;
    left: 0px;

    display: block;

    padding: 3px 10px 3px 10px;

    text-align: center;

    color: #fff;
    border-radius: 2px;
    
}

.sticker_credit_card {
    font-size: 14px;

    position: absolute;
    z-index: 2;
    /*top: 23px;
    right: 30px;*/
    top: 0px;
    right: 0px;

    display: block;

    padding: 3px 10px 3px 10px;

    text-align: center;

    color: #fff;
    border-radius: 2px;
    
}

/*----------------------------------- MIS ANTBOXS -------------------------------------*/

/* Medidas de tarjeta flip */
.mis_antboxs .card {
    padding: 20px !important;
    width: 100%;
}
.mis_antboxs img {
    /*width: 100%;
    max-width: 170px;*/
    padding-left: 0px !important;
    padding-right: 0px !important;
}
/* Fondo de lupa en foto - Mis - Antboxs */
.mis_antboxs .icon.icon-theme:hover {
    background-color: #192151 !important;
}

#solicitar textarea, {
    height: 225px;
} 

/*----------------------------------- ORDENAR -------------------------------------*/

.ordenar textarea {
    height: 135px;
}
.ordenar .coupon .input-text {
    max-width: 175px;
}
.ordenar .nota {
    line-height: 1.3 !important;
}

.ordenar .legales .checkbox label, .legales .radio label {
    line-height: inherit !important;
}

.modal-md .modal-body-inside, .modal-lg .modal-body-inside {
    padding: 20px 10px 20px 10px !important; 
}


/*----------------------------------- FOOTER -------------------------------------*/
.footer-extra {
	background-color: #fff;
}
/* Color de la flecha del btn para abrir menú de footer */
.pagetitle-toggle:after, .pagetitle-toggle:hover:after{
    color: #fff;
}
/* Color del círculo de la flecha del btn para abrir menú de footer */
.pagetitle-toggle.collapsed, .pagetitle-toggle {
    background-color: #b91f25;
}
/* Color del círculo de la flecha del btn para abrir menú de footer :hover */
.pagetitle-toggle:hover {
    background-color: #192151;
}
/* Quitar el margen derecho de info contacto */
.footer .widget_contact .fa {
	margin-right: 0px;
}



