@font-face{ 
    font-family: 'Nexa_Light';
    src: url('../fonts/Nexa_Light-webfont.eot');
    src: url('../fonts/Nexa_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nexa_Light-webfont.woff') format('woff'),
         url('../fonts/Nexa_Light-webfont.ttf') format('truetype'),
         url('../fonts/Nexa_Light-webfont.svg#webfont') format('svg');
}

@font-face{ 
    font-family: 'Nexa_Bold';
    src: url('../fonts/Nexa_Bold-webfont.eot');
    src: url('../fonts/Nexa_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nexa_Bold-webfont.woff') format('woff'),
         url('../fonts/Nexa_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Nexa_Bold-webfont.svg#webfont') format('svg');
}

header, h1, h2, h3, h4, h5, h6, div, nav, .widget_tag_cloud .tagcloud a, .btn {
    /*font-family: 'Nexa_Bold', FontAwesome !important;*/
    font-family: 'Lato', sans-serif !important;
}

p, a, address, input, textarea, .active-result, .contact-info, label{
    font-family: 'Nexa_Light', FontAwesome !important; 
}

.pagetitle i, .pagetitle h1, .pagetitle span {
    color: #fff !important;
}

.footer .pagetitle i, .footer  .pagetitle h1, .footer  .pagetitle span {
    color: #666 !important;
}


p, input, .page-header p {
    font-size: 115% !important;
}

label, .etiqueta {
    color: #666 !important;
}

.iwrap h1 {
    font-size: 210%;
}

address  {
    font-size: 110% !important;
}

p, address, .rs {
    color: #000 !important;
}

.footer  a, .footer .rs {
    font-weight: 400 !important;
    text-decoration: none;
    color: #000;
    font-size: 115% !important;
}

/*.font-open-sans
{
    font-family: 'Open Sans', sans-serif;
}
.font-roboto
{
    font-family: 'Roboto', sans-serif;
}
.font-roboto-slab
{
    font-family: 'Roboto Slab', serif;
}
.font-raleway
{
    font-family: 'Raleway', sans-serif;
}
.font-lato
{
    font-family: 'Lato', sans-serif;
}
.font-varela
{
    font-family: 'Varela Round', sans-serif;
}
.font-lora
{
    font-family: 'Lora', serif;
}
.font-playfair
{
    font-family: 'Playfair Display', serif;
}*/
