<appSettings>
  <add key="webpages:Enabled" value="false" />
  
  <add key="mailAccount" value="My mail account." />
  <add key="mailPassword" value="My mail password." />

  <add key="FacebookID" value="1751225815144367"/>
  <add key="FacebookKey" value="b22664244b318da6315108e1ff416d88"/>

  <add key="GoogClientID" value="1.apps.googleusercontent.com" />
  <add key="GoogClientSecret" value="pp." />

  <add key="hovaid" value="antbox001"/>
  <add key="hovapw" value="7a1990c4f2ae457db46e159ce9d824b3"/>

  <add key="hovakey" value="123654789abc"/>
  
</appSettings>