<appSettings>
  <add key="webpages:Enabled" value="false" />
  
  <add key="mailAccount" value="My mail account." />
  <add key="mailPassword" value="My mail password." />

  <add key="hovaserverKey" value="123654789abc"/>

  <add key="FacebookID" value="1751225815144367"/>
  <add key="FacebookKey" value="b22664244b318da6315108e1ff416d88"/>

  <add key="GoogClientID" value="1.apps.googleusercontent.com" />
  <add key="GoogClientSecret" value="My Google client secret." />
</appSettings>