@using Microsoft.AspNet.Identity
@model AntBoxFrontEnd.Models.AntBoxRegisterViewModel


@if (Session["customer"] != null)
{
    using (Html.BeginForm("AntBoxLogout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <nav>
            <button type="button" class="btn-link">
                <i class="fa fa-user"></i>
                @Html.Label(((AntBoxFrontEnd.Services.Customer.CustomerResponse)Session["customer"]).Name + " " + ((AntBoxFrontEnd.Services.Customer.CustomerResponse)Session["customer"]).LastName)
            </button>
            <button type="submit" class="btn btn-primary">Salir</button>

        </nav>
    }
}
else
{
    <nav>
        <button type="button" class="btn-link" data-toggle="modal" data-target="#login"><i class="fa fa-lock"></i> Entrar</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registro">Crear Cuenta</button>
    </nav>

}
