<script>
    $(function () {
        $("button").click(function () {
            $.ajax({
                type: "POST",
                url: "/Receiver",
                data: $('#myForm').serialize(),
                datatype: "html",
                success: function (data) {
                    $('#result').html(data);
                }
            });
        });
    });
</script>

<div class="row">
    <div class="col-sm-12">
        <hr class="hr-dashed mt0 mb40" />
    </div>
</div>
<div class="row mt10">
    <div class="col-sm-12">
        <div class="irow-xs">
            <h3>Dirección de recolección</h3>
            <p>¿Dónde y cuándo debemos llevarte tus Antboxs vacías?</p>
        </div>
    </div>
</div>
<div class="row mt20">
    <div class="col-sm-6">
        <div class="form-group mb0">
            <label for="form-select">Dirección de recolección</label>
            <select id="form-select">
                <option value>- Selecciona una opción -</option>
                <option value="Casa">Casa</option>
                <option value="Oficina">Oficina</option>
                <option value="Facturación">Facturación</option>
            </select>
            <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#nueva_direccion">Nueva dirección</button>
        </div>
        <label for="textbox">Fecha</label>
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" id="recoleccion" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
            </span>
            <input class="form-control" type="text" id="fecha_recoleccion" name="fecha_recoleccion" disabled="disable">
        </div>
        <div class="form-group">
            <label for="form-select">Horario de recolección</label>
            <select id="form-select">
                <option value>- Selecciona una opción -</option>
                <option value="09-11">09:00 - 11:00 hrs.</option>
                <option value="11-13">11:00 - 13:00 hrs.</option>
                <option value="13-15">13:00 - 15:00 hrs.</option>
                <option value="15-17">15:00 - 17:00 hrs.</option>
                <option value="17-19">17:00 - 19:00 hrs.</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="form-message">Referencias o comentarios</label>
            <textarea name="message" id="form-message"></textarea>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="optionsCheckbox">
                Quiero que el conductor me espere para que pueda llevar mis Antboxs de vuelta al almacén de forma inmediata. (Considere que los conductores solo pueden esperar hasta 20 minutos)
            </label>
        </div>
    </div>
</div>


<!-- Modal Medium -->
<div class="modal fade" id="nueva_direccion">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Registrar nueva dirección</h6>
            </div>
            <div class="modal-body">
                <form action="../../php/email.php" method="post" class="contact-form form-solid" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="send-form-name">Nombre de Identificación*</label>
                                <input type="text" name="name" id="send-form-name">
                            </div>
                            <div class="form-group">
                                <label for="send-form-email">Calle</label>
                                <input type="text" name="email" id="send-form-email">
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="send-form-email">Núm. Int.</label>
                                        <input type="text" name="email" id="send-form-email">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="send-form-email">Núm. Ext.</label>
                                        <input type="text" name="email" id="send-form-email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="send-form-email">Código Postal</label>
                                <input type="text" name="email" id="send-form-email">
                            </div>
                            <div class="form-group">
                                <label for="form-select">Delegación o Municipio</label>
                                <select id="form-select">
                                    <option value>- Selecciona una opción -</option>
                                    <option value="d1">Delegacion 1</option>
                                    <option value="d2">Delegacion 2</option>
                                    <option value="d3">Delegacion 3</option>
                                    <option value="d4">Delegacion 4</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="form-select">Colonia</label>
                                <select id="test" name="form_select" onchange="showOtraColonia3(this)">
                                    <option value>- Selecciona una opción -</option>
                                    <option value="c1">Colonia 1</option>
                                    <option value="c2">Colonia 2</option>
                                    <option value="c3">Colonia 3</option>
                                    <option value="c4">Colonia 4</option>
                                    <option value="otra">Otra</option>
                                </select>
                            </div>
                            <div id="hidden_div3" class="form-group">
                                <label for="send-form-email">Nombre de la colonia*</label>
                                <input type="text" name="email" id="send-form-email">
                            </div>
                        </div>
                        <div class="col-sm-6 pl0_modal">
                            <div class="form-group">
                                <label for="send-form-name">Ciudad</label>
                                <input type="text" name="name" id="send-form-name">
                            </div>
                            <div class="form-group">
                                <label for="send-form-name">Estado</label>
                                <input type="text" name="name" id="send-form-name">
                            </div>
                            <div class="form-group">
                                <label for="send-form-email">País</label>
                                <input type="text" name="email" id="send-form-email">
                            </div>
                            <div class="form-group">
                                <label for="send-form-message">Referencias y Comentarios</label>
                                <textarea name="message" id="send-form-message"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 mt10">
                            <input type="submit" class="btn btn-primary btn-wide pull-right" value="Registrar">
                            <p class="succs-msg">Мensaje enviado</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->