
@{
    ViewBag.Title = "Index";
}
<!-- WRAPPER -->
<div class="wrapper">
    <!-- CONTENT -->
    <div class="content mis_antboxs">
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-12">
                    <h1>Mis Antboxs</h1>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt30">
            <div class="row">
                <div class="col-md-3 pr0 no_portrait">
                    <aside>
                        <div class="widget widget_tag_cloud">
                            <ul class="tagcloud">
                                <li><a href="cuenta.php"><i class="fa fa-angle-right pull-right"></i>Cuenta</a></li>
                                <li><a href="direcciones.php"><i class="fa fa-angle-right pull-right"></i>Direcciones</a></li>
                                <li><a href="mis-antboxs.php" class="btn_active"><i class="fa fa-angle-right pull-right"></i>Mis Antboxs</a></li>
                                <li><a href="movimientos.php"><i class="fa fa-angle-right pull-right"></i>Movimientos</a></li>
                                <li><a href="pagos.php"><i class="fa fa-angle-right pull-right"></i>Pagos</a></li>
                                <li><a href="ordenar.php"><i class="fa fa-angle-right pull-right"></i>Ordenar</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="irow-xs pb30 pl30 pr30">
                            <h3>Mis Antboxs almacenados</h3>
                            <p>Programa la solicitud de tus Antboxs en el momento que tú decidas. Agrega una descripción que te permita identificar su contenido fácilmente.</p>
                        </div>
                        <div class="col-sm-12 mb20">
                            <div class="card card-border-dashed card-border-color magnific-wrap">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <figure class="figure">
                                            <img src="images/antboxs_3.jpg" alt="">
                                            <div class="sticker_mov completed">Solicitado</div>
                                            <div class="mask mask-dark">
                                                <nav>
                                                    <a class="icon icon-inverse icon-size-1 icon-theme icon-rounded magnific" title="Antboxs 1" href="images/antboxs_3.jpg">
                                                        <i class="fa fa-search"></i>
                                                    </a>
                                                </nav>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="col-sm-8 col-xs-12 antboxs_txt">
                                        <h4>Antboxs 1 - 110968</h4>
                                        <p>Camisas a cuadros, botas, pantalones, revistas y documentos importantes de la familia.</p>
                                        <button type="button" class="btn btn-primary btn-sm pull-right ml20" data-toggle="modal" data-target="#solicitar">Solicitar</button>
                                        <button type="button" class="btn btn-primary btn-sm pull-right btn_blue" data-toggle="modal" data-target="#editar">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mb20">
                            <div class="card card-border-dashed card-border-color magnific-wrap">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <figure class="figure">
                                            <img src="images/antboxs_4.jpg" alt="">
                                            <div class="sticker_mov completed">Solicitado</div>
                                            <div class="mask mask-dark">
                                                <nav>
                                                    <a class="icon icon-inverse icon-size-1 icon-theme icon-rounded magnific" title="Antboxs 2" href="images/antboxs_4.jpg">
                                                        <i class="fa fa-search"></i>
                                                    </a>
                                                </nav>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="col-sm-8 col-xs-12 antboxs_txt">
                                        <h4>Antboxs 2 - 110968</h4>
                                        <p>Libros, frasados, dos pares de tenis, ropa para dama de temporara de invierno.</p>
                                        <button type="button" class="btn btn-primary btn-sm pull-right ml20" data-toggle="modal" data-target="#solicitar">Solicitar</button>
                                        <button type="button" class="btn btn-primary btn-sm pull-right btn_blue" data-toggle="modal" data-target="#editar">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mb20">
                            <div class="card card-border-dashed card-border-color magnific-wrap">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <figure class="figure">
                                            <img src="images/antboxs_3.jpg" alt="">
                                            <div class="mask mask-dark">
                                                <nav>
                                                    <a class="icon icon-inverse icon-size-1 icon-theme icon-rounded magnific" title="Antboxs 3" href="images/antboxs_3.jpg">
                                                        <i class="fa fa-search"></i>
                                                    </a>
                                                </nav>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="col-sm-8 col-xs-12 antboxs_txt">
                                        <h4>Antboxs 3 - 110968</h4>
                                        <p>Ropa de temporada, adornos navideños, papelería, recuerdos y fotografías familiares.</p>
                                        <button type="button" class="btn btn-primary btn-sm pull-right ml20" data-toggle="modal" data-target="#solicitar">Solicitar</button>
                                        <button type="button" class="btn btn-primary btn-sm pull-right btn_blue" data-toggle="modal" data-target="#editar">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class"row">
                        <div class="col-sm-12 pl0 pr0 pt20 text-center">
                            <!-- PAGINATION -->
                            <ul class="pagination solid">
                                <li class="pull-left"><a href="#" class="prev"><i class="fa fa-angle-left"></i></a></li>
                                <li class="pull-right"><a href="#" class="next"><i class="fa fa-angle-right"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">…</a></li>
                                <li><a href="#">36</a></li>
                            </ul>
                            <!-- /.pagination -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
    <?php include 'includes/promobox.php';?>

</div>
<!-- /.wrapper -->
<?php include 'includes/footer.php';?>

<!-- Modal Small -->
<div class="modal fade" id="editar">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Editar mi Antboxs</h6>
            </div>
            <div class="modal-body">
                <form action="../../php/email.php" method="post" class="contact-form form-solid" novalidate>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="send-form-name">Nombre de mi Antboxs</label>
                                <input type="text" name="name" id="send-form-name">
                            </div>
                            <div class="form-group">
                                <label for="send-form-message">Descripción</label>
                                <textarea name="message" id="send-form-message"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 mt10">
                            <input type="submit" class="btn btn-primary btn-wide pull-right" value="Guardar">
                            <p class="succs-msg">Мensaje enviado</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- Modal Medium -->
<div class="modal fade" id="solicitar">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Solicitar mi Antboxs</h6>
            </div>
            <div class="modal-body">
                <form action="../../php/email.php" method="post" class="contact-form form-solid" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group mb0">
                                <label for="form-select">Dirección de entrega</label>
                                <select id="form-select">
                                    <option value>- Selecciona una opción -</option>
                                    <option value="Casa">Casa</option>
                                    <option value="Oficina">Oficina</option>
                                    <option value="Facturación">Facturación</option>
                                </select>
                                <a href="direcciones.php" class="pull-right">Nueva dirección</a>
                            </div>
                            <label for="textbox">Fecha</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" id="entrega" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                </span>
                                <input class="form-control" type="text" id="fecha_entrega" name="fecha_entrega" disabled="disable">
                            </div>
                            <div class="form-group">
                                <label for="form-select">Horario de entrega</label>
                                <select id="form-select">
                                    <option value>- Selecciona una opción -</option>
                                    <option value="09-11">09:00 - 11:00 hrs.</option>
                                    <option value="11-13">11:00 - 13:00 hrs.</option>
                                    <option value="13-15">13:00 - 15:00 hrs.</option>
                                    <option value="15-17">15:00 - 17:00 hrs.</option>
                                    <option value="17-19">17:00 - 19:00 hrs.</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 pl0_modal">
                            <div class="form-group">
                                <label for="form-message">Referencias o comentarios</label>
                                <textarea name="message" id="form-message"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 mt10">
                            <input type="submit" class="btn btn-primary btn-wide pull-right" value="Solicitar">
                            <p class="succs-msg">Мensaje enviado</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->


<script type="text/javascript">
Calendar.setup({
inputField     :    "fecha_entrega",      // id del campo de texto
ifFormat       :    "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
button         :    "entrega"   // el id del botón que lanzará el calendario
});
</script>