@model AntBoxFrontEnd.Models.AntBoxTasksViewModel
@{
    ViewBag.Title = "Index";
}
<!-- WRAPPER -->
<div class="wrapper">
    <!-- CONTENT -->
    <div class="content movimientos">
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-12">
                    <h1>Movimientos</h1>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt30">
            <div class="row">
                <div class="col-md-3 pr0 no_portrait">
                    @Html.Partial("_LeftMenu")
                </div>
                <div class="col-md-9">
                    <div class="row pl30 pr30">
                        <div class="irow-xs pb30">
                            <h3>Historial de movimientos</h3>
                            <p>Revisa el estatus de tus movimientos realizados y consulta el historial de movimientos anteriores.</p>
                        </div>

                        <div id="TasksList">
                            @Html.Partial("_CustomerTasks", Model.Tareas.Tasks)
                        </div>
                    </div>
                    <div class"row">
                        <div class="col-sm-12 pl0 pr0 text-center">
                            <!-- PAGINATION -->
                            <ul class="pagination solid">
                                <li class="pull-left"><a href="#" class="prev"><i class="fa fa-angle-left"></i></a></li>
                                <li class="pull-right"><a href="#" class="next"><i class="fa fa-angle-right"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                            </ul>
                            <!-- /.pagination -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
    <?php include 'includes/promobox.php';?>

</div>
<!-- /.wrapper -->