
@{
    ViewBag.Title = "Index";
}
<!-- WRAPPER -->
<div class="wrapper">
    <!-- CONTENT -->
    <div class="content ordenar">
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-12">
                    <h1>Ordenar</h1>
                    <div class="heading-divider"></div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container mt30">
            <div class="row">
                <div class="col-md-3 pr0 no_portrait">
                    <aside>
                        <div class="widget widget_tag_cloud">
                            <ul class="tagcloud">
                                <li><a href="cuenta.php"><i class="fa fa-angle-right pull-right"></i>Cuenta</a></li>
                                <li><a href="direcciones.php"><i class="fa fa-angle-right pull-right"></i>Direcciones</a></li>
                                <li><a href="mis-antboxs.php"><i class="fa fa-angle-right pull-right"></i>Mis Antboxs</a></li>
                                <li><a href="movimientos.php"><i class="fa fa-angle-right pull-right"></i>Movimientos</a></li>
                                <li><a href="pagos.php"><i class="fa fa-angle-right pull-right"></i>Pagos</a></li>
                                <li><a href="ordenar.php" class="btn_active"><i class="fa fa-angle-right pull-right"></i>Ordenar</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-9">
                    <form class="form-solid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="irow-xs pb30">
                                    <h3>Ordena tus Antboxs</h3>
                                    <p>Ordenar tus Antboxs es muy sencillo, solo indícanos cuántas Antboxs necesitas y a qué direcciones debemos enviártelas.</p>
                                    <div class="alert alert-warning">
                                        <p><i class="fa fa-exclamation-triangle"></i> <strong>¿Ordenas por primera vez?</strong> Recuerda que el periodo mínimo de contratación es por tres meses, aunque si tú lo decides, podrás retirar tus Antboxs antes de ese tiempo.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card card-image">
                                    <figure class="figure ">
                                        <!--Agregar a clase para slider: "slider oneslider"-->
                                        <ul data-fx="crossfade" data-auto="true" data-timeout="4500">
                                            <li>
                                                <img src="images/antboxs_chica.jpg" alt="">
                                            </li>
                                            <!--<li>
                                                <a href="">
                                                    <img src="http://placehold.it/600x400" alt="">
                                                </a>
                                            </li>-->
                                        </ul>
                                        <!--<a class="slider-arrow slider-arrow-prev" href=""></a>
                                        <a class="slider-arrow slider-arrow-next" href=""></a>
                                        <nav class="slider-pagination pb70"></nav>-->
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="responsive">
                                    <table class="table shop_table cart">
                                        <thead>
                                            <tr>
                                                <th class="product-name">Antboxs</th>
                                                <th class="product-price no_mobile">Precio</th>
                                                <th class="product-quantity">Cantidad</th>
                                                <th class="product-subtotal no_iphone_portrait">Total</th>
                                                <!--<th class="product-remove">&nbsp;</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                    <h5>Antboxs Chica</h5>
                                                    <dl class="variation">
                                                        <dt class="variation-Color">Medidas:</dt>
                                                        <dd class="variation-Color">
                                                            <p>27" x 17" x 12"</p>
                                                        </dd>
                                                    </dl>
                                                </td>
                                                <td class="product-price no_mobile">
                                                    <span class="amount">$ 100.00</span>
                                                </td>
                                                <td class="product-quantity">
                                                    <a href="" class="minus disabled">-</a>
                                                    <input type="text" value="1">
                                                    <a href="" class="plus">+</a>
                                                </td>
                                                <td class="product-subtotal no_iphone_portrait">
                                                    <span class="amount">$ 100.00</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="actions" colspan="6">
                                                    <div class="coupon pull-right center_iphone_portrait">
                                                        <input id="coupon_code" class="input-text pb10__iphone_portrait" type="text" placeholder="Código de cupón" value="" name="coupon_code">
                                                        <input class="btn btn-primary pull-right floatr ml10 center_iphone_portrait" type="submit" value="Aplicar cupón">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row irow-xs cart-collaterals mt0">
                                    <div class="col-md-5 col-sm-6">
                                    </div>
                                    <div class="col-md-offset-1 col-sm-6 cart_totals">
                                        <table class="table">
                                            <tbody>
                                                <tr class="cart-subtotal">
                                                    <th>Descuento</th>
                                                    <td>
                                                        <span class="amount">$ 0</span>
                                                    </td>
                                                </tr>
                                                <tr class="cart-subtotal">
                                                    <th>Subtotal</th>
                                                    <td>
                                                        <span class="amount">$ 1,000.00</span>
                                                    </td>
                                                </tr>
                                                <tr class="shipping">
                                                    <th>+ IVA</th>
                                                    <td>
                                                        <span class="amount">$ 116.00</span>
                                                    </td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Total</th>
                                                    <td>
                                                        <strong>
                                                            <span class="amount">$ 1,116.00</span>
                                                        </strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <hr class="hr-dashed mt0 mb40" />
                            </div>
                        </div>
                        <div class="row mt10">
                            <div class="col-sm-12">
                                <div class="irow-xs">
                                    <h3>Dirección de recolección</h3>
                                    <p>¿Dónde y cuándo debemos llevarte tus Antboxs vacías?</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt20">
                            <div class="col-sm-6">
                                <div class="form-group mb0">
                                    <label for="form-select">Dirección de recolección</label>
                                    <select id="form-select">
                                        <option value>- Selecciona una opción -</option>
                                        <option value="Casa">Casa</option>
                                        <option value="Oficina">Oficina</option>
                                        <option value="Facturación">Facturación</option>
                                    </select>
                                    <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#nueva_direccion">Nueva dirección</button>
                                </div>
                                <label for="textbox">Fecha</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" id="recoleccion" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                    </span>
                                    <input class="form-control" type="text" id="fecha_recoleccion" name="fecha_recoleccion" disabled="disable">
                                </div>
                                <div class="form-group">
                                    <label for="form-select">Horario de recolección</label>
                                    <select id="form-select">
                                        <option value>- Selecciona una opción -</option>
                                        <option value="09-11">09:00 - 11:00 hrs.</option>
                                        <option value="11-13">11:00 - 13:00 hrs.</option>
                                        <option value="13-15">13:00 - 15:00 hrs.</option>
                                        <option value="15-17">15:00 - 17:00 hrs.</option>
                                        <option value="17-19">17:00 - 19:00 hrs.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form-message">Referencias o comentarios</label>
                                    <textarea name="message" id="form-message"></textarea>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsCheckbox">
                                        Quiero que el conductor me espere para que pueda llevar mis Antboxs de vuelta al almacén de forma inmediata. (Considere que los conductores solo pueden esperar hasta 20 minutos)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <hr class="hr-dashed mt0 mb40" />
                            </div>
                        </div>
                        <div class="row mt10">
                            <div class="col-sm-12">
                                <div class="irow-xs">
                                    <h3>Dirección de entrega</h3>
                                    <p>¿Dónde y cuándo debemos entregar tus Antboxs con tus artículos?</p>
                                    <div class="alert alert-warning alert-dismissible fade in">
                                        <button type="button" class="close" data-dismiss="alert">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        <p><i class="fa fa-exclamation-triangle"></i> <strong>Si aún no sabes cuándo podrás necesitar tus Antboxs de vuelta, no te preocupes.</strong><br />Podrás agendar la entrega en el momento que tú lo decidas desde la opción "Mis Antboxs", solo deja los campos de esta sección vacíos.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt20">
                            <div class="col-sm-6">
                                <div class="form-group mb0">
                                    <label for="form-select">Dirección de entrega</label>
                                    <select id="form-select">
                                        <option value>- Selecciona una opción -</option>
                                        <option value="Casa">Casa</option>
                                        <option value="Oficina">Oficina</option>
                                        <option value="Facturación">Facturación</option>
                                    </select>
                                    <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#nueva_direccion">Nueva dirección</button>
                                </div>
                                <label for="textbox">Fecha</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" id="entrega" class="btn btn-primary pull-right"><i class="fa fa-calendar"></i></button>
                                    </span>
                                    <input class="form-control" type="text" id="fecha_entrega" name="fecha_entrega" disabled="disable">
                                </div>
                                <div class="form-group">
                                    <label for="form-select">Horario de entrega</label>
                                    <select id="form-select">
                                        <option value>- Selecciona una opción -</option>
                                        <option value="09-11">09:00 - 11:00 hrs.</option>
                                        <option value="11-13">11:00 - 13:00 hrs.</option>
                                        <option value="13-15">13:00 - 15:00 hrs.</option>
                                        <option value="15-17">15:00 - 17:00 hrs.</option>
                                        <option value="17-19">17:00 - 19:00 hrs.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form-message">Referencias o comentarios</label>
                                    <textarea name="message" id="form-message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <hr class="hr-dashed mt0 mb40" />
                            </div>
                        </div>
                        <div class="row mt10">
                            <div class="col-sm-6">
                                <div class="irow-xs">
                                    <h3>Formas de Pago</h3>
                                    <p>Selecciona tu forma de pago.</p>
                                </div>
                                <div class="form-group mt20">
                                    <label for="form-select">Forma de pago</label>
                                    <select id="form-select">
                                        <option value>- Selecciona una opción -</option>
                                        <option value="tarjeta_1">Tarjeta 1</option>
                                        <option value="tarjeta_2">Tarjeta 2</option>
                                        <option value="tarjeta_3">Tarjeta 3</option>
                                    </select>
                                    <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#nueva_tarjeta">Nueva tarjeta</button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="irow-xs">
                                    <h3>Preferencia de contacto</h3>
                                    <p>Elige la forma de contacto más adecuada para ti.</p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="preferencia_contacto" checked>
                                                Teléfono
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="preferencia_contacto" checked>
                                                E-mail
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <hr class="hr-dashed mt0 mb40" />
                            </div>
                        </div>
                        <div class="row mt10 legales">
                            <div class="col-sm-6 pl10_pr10_mobiles">
                                <div class="irow-xs">
                                    <h3>Restricciones de uso</h3>
                                    <p>Revisa las condiciones de uso antes de continuar.</p>
                                </div>
                                <div class="checkbox">
                                    <button type="button" class="btn-link" data-toggle="modal" data-target="#restricciones_uso">restricciones de uso</button>
                                    <label class="pull-left pr5">
                                        <input type="checkbox" name="preferencia_contacto">
                                        Entiendo las
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6 pl10_pr10_mobiles">
                                <div class="irow-xs">
                                    <h3>Términos y condiciones</h3>
                                    <p>Revisa los términos y condiciones antes de continuar.</p>
                                </div>
                                <div class="checkbox">
                                    <button type="button" class="btn-link" data-toggle="modal" data-target="#terminos_condiciones">términos y condiciones</button>
                                    <label class="pull-left pr5">
                                        <input type="checkbox" name="preferencia_contacto">
                                        Entiendo los
                                    </label>
                                </div>
                            </div>
                            <div class="row mr0">
                                <div class="col-sm-12 mt30">
                                    <input type="submit" class="btn btn-primary btn-wide pull-right mt10" value="Completar mi orden">
                                    <p class="succs-msg">Мensaje enviado</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content -->
    <?php include 'includes/promobox.php';?>

</div>
<!-- /.wrapper -->

<!-- Modal Medium -->
<div class="modal fade" id="nueva_direccion">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Registrar nueva dirección</h6>
            </div>
            <div class="modal-body">
                <form action="../../php/email.php" method="post" class="contact-form form-solid" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="send-form-name">Nombre de Identificación*</label>
                                <input type="text" name="name" id="send-form-name">
                            </div>
                            <div class="form-group">
                                <label for="send-form-email">Calle</label>
                                <input type="text" name="email" id="send-form-email">
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="send-form-email">Núm. Int.</label>
                                        <input type="text" name="email" id="send-form-email">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="send-form-email">Núm. Ext.</label>
                                        <input type="text" name="email" id="send-form-email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="send-form-email">Código Postal</label>
                                <input type="text" name="email" id="send-form-email">
                            </div>
                            <div class="form-group">
                                <label for="form-select">Delegación o Municipio</label>
                                <select id="form-select">
                                    <option value>- Selecciona una opción -</option>
                                    <option value="d1">Delegacion 1</option>
                                    <option value="d2">Delegacion 2</option>
                                    <option value="d3">Delegacion 3</option>
                                    <option value="d4">Delegacion 4</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="form-select">Colonia</label>
                                <select id="test" name="form_select" onchange="showOtraColonia3(this)">
                                    <option value>- Selecciona una opción -</option>
                                    <option value="c1">Colonia 1</option>
                                    <option value="c2">Colonia 2</option>
                                    <option value="c3">Colonia 3</option>
                                    <option value="c4">Colonia 4</option>
                                    <option value="otra">Otra</option>
                                </select>
                            </div>
                            <div id="hidden_div3" class="form-group">
                                <label for="send-form-email">Nombre de la colonia*</label>
                                <input type="text" name="email" id="send-form-email">
                            </div>
                        </div>
                        <div class="col-sm-6 pl0_modal">
                            <div class="form-group">
                                <label for="send-form-name">Ciudad</label>
                                <input type="text" name="name" id="send-form-name">
                            </div>
                            <div class="form-group">
                                <label for="send-form-name">Estado</label>
                                <input type="text" name="name" id="send-form-name">
                            </div>
                            <div class="form-group">
                                <label for="send-form-email">País</label>
                                <input type="text" name="email" id="send-form-email">
                            </div>
                            <div class="form-group">
                                <label for="send-form-message">Referencias y Comentarios</label>
                                <textarea name="message" id="send-form-message"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 mt10">
                            <input type="submit" class="btn btn-primary btn-wide pull-right" value="Registrar">
                            <p class="succs-msg">Мensaje enviado</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- Modal Medium -->
<div class="modal fade" id="nueva_tarjeta">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Registrar nueva tarjeta</h6>
            </div>
            <div class="modal-body">
                <form action="../../php/email.php" method="post" class="contact-form form-solid" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="send-form-name">Nombre de Tarjeta*</label>
                                <input type="text" name="name" id="send-form-name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="send-form-email">Número de Tarjeta*</label>
                                <input type="email" name="email" id="send-form-email">
                            </div>
                        </div>
                    </div>
                    <p class="mb0 etiqueta">Expiración:</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="send-form-email">MM*</label>
                                <input type="email" name="email" id="send-form-email">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="send-form-email">YY*</label>
                                <input type="email" name="email" id="send-form-email">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="send-form-email">CVC*</label>
                                <input type="email" name="email" id="send-form-email">
                            </div>
                        </div>
                    </div>
                    <div class="row ml0 mr0 mt10">
                        <input type="submit" class="btn btn-primary btn-wide pull-right" value="Registrar">
                        <p class="succs-msg">Мensaje enviado</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- Modal Medium -->
<div class="modal fade" id="restricciones_uso">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Restricciones de uso</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-inside">
                    <h4>Respeta las siguientes condiciones de uso:</h4>
                    <div class="heading-divider"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<!-- Modal Large -->
<div class="modal fade" id="terminos_condiciones">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h6 class="modal-title">Términos y condiciones</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-inside">
                    <h4>Términos y condiciones</h4>
                    <div class="heading-divider"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<script type="text/javascript">
Calendar.setup({
inputField     :    "fecha_recoleccion",      // id del campo de texto
ifFormat       :    "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
button         :    "recoleccion"   // el id del botón que lanzará el calendario
});
</script>
<script type="text/javascript">
Calendar.setup({
inputField     :    "fecha_entrega",      // id del campo de texto
ifFormat       :    "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
button         :    "entrega"   // el id del botón que lanzará el calendario
});
</script>
<script type="text/javascript">
$(document).ready(function(){
$('[data-toggle="popover"]').popover({ html : true });
});
</script>

<script type="text/javascript">// Script para el campo de colonia
	function showOtraColonia3(elem){
	if(elem.value == "otra")
	document.getElementById('hidden_div3').style.display = "block";
	else
	document.getElementById('hidden_div3').style.display = "none";
	}
</script>
