@{
    ViewBag.Title = "Antbox";
}
<!-- /.header -->
<div class="wrapper como_funciona">

    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-check-square-o"></i>
                    <h1>¿Cómo funciona?</h1>
                    <div class="divider"></div>
                    <span class="subtitle">Paga solo por lo que usas y sin salir de casa</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTAINER -->
    <div class="highlight inverse background overlay" style="background-image: url(../Images/como_funciona_background_antboxs.jpg);">
        <section class="container">
            <div class="row irow-xs text-center">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <h1>Paga solo por lo que usas y sin salir de casa</h1>
                    <p>Pide tus Antboxs, ¿necesitas más? No importa solo pagarás por lo que uses y por el tiempo que tú decidas. No hay plazos forzosos ni número mínimo de Antboxs. ¡Lo justo es lo justo!</p>
                </div>
            </div>
        </section>
    </div>
    <!-- /.container -->

    <hr class="hr-nobg" />

    <!-- CONTAINER -->
    <div class="container">
        <div class="row irow-xs">

            <div class="col-lg-5 col-md-4">
                <hr class="hr-nobg hidden visible-lg visible-md" />
                <img src="@Url.Content("~/Images/solicita_tus_antboxs.png")" class="img-responsive center-block" alt="">
                <hr class="hr-nobg" />
            </div>

            <div class="col-lg-7 col-md-8">
                <div class="text-center">
                    <h2>Solicita tus Antboxs</h2>
                    <div class="heading-divider heading-divider-xs"></div>
                </div>
                <hr class="hr-nobg" />

                <div class="row">
                    <div class="col-sm-6 mb30">
                        <div class="media">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-4" data-hover="rubberBand">
                                    <i class="fa fa-th"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h3>Sin límite de Antboxs</h3>
                                <p>Puedes pedir desde una hasta 10 mil Antboxs, tú nos pones la pauta.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb30">
                        <div class="media">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-4" data-hover="rubberBand">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h3>20 minutos</h3>
                                <p>¿Tienes todo listo? Te esperamos hasta 20 minutos para llevarnos tus cosas en ese mismo día. ¿Necesitas más tiempo? No te preocupes te dejamos las Antboxs y cuando estén listas pasamos por ellas.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 mb30">
                        <div class="media">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-4" data-hover="rubberBand">
                                    <i class="fa fa-tree"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h3>Prepara tus artículos</h3>
                                <p>¿No sabes cuántas Antboxs requieres? Prepara tus artículos, nuestras Antboxs miden 60 cms de largo x 40 cms de ancho x 32 cms de altura, prepara tus cosas y estima cuántas necesitas. ¿Necesitas más? Con gusto, te sobraron, no te preocupes, solo pagas por lo que requieres.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb30">
                        <div class="media">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-4" data-hover="rubberBand">
                                    <i class="fa fa-building"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h3>En casa u oficina</h3>
                                <p>Necesitas más espacio en todos lados, en tu casa y en tu oficina y en ambos casos te podemos ayudar. Dinos a dónde vamos y ¡listo!</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->
    <!-- CONTAINER -->
    <!-- CONTAINER -->
    <div class="iwrap">
        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-6 col-md-8 text-wrap">
                    <div class="row irow-sm mb50">
                        <div class="col-md-12">
                            <h1>Guarda tus Artículos</h1>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                    <div class="row irow-sm">
                        <div class="col-md-6">
                            <h4>Guarda tus Artículos</h4>
                            <p>No importa cuánto sea, si cabe en las Antboxs nos lo llevamos. No aceptamos artículos ilegales* animales, perecederos y no recomendamos dinero en efectivo o valores, de ahí en fuera, guardamos lo que nos digas que quepa en tus Antboxs.</p>
                        </div>
                        <div class="col-md-6">
                            <p>En un futuro muy cercano podremos llevarnos todos aquellos artículos que no quepan en tus Antboxs.</p>
                            <p>Si quieres puedes llevar un inventario en Antboxs para que sepas qué artículos tienes en cada Antbox y tómale una foto para ligarla a la Antbox (opcional) séllala con los cinchos de seguridad y avísanos cuando estés listo para llevárnoslas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 pt30">
                    <img src="@Url.Content("~/Images/como-funciona-guarda-tus-articulos.png")" class="img-responsive" alt="" data-animate="fadeInUpBig">
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <hr class="hr-nobg" />

    <!-- CONTAINER -->
    <div class="iwrap iwrap-light">
        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-6">
                    <!--<img src="images/almacenamos-y-protegemos.png" alt="" data-animate="fadeInUpBig">-->
                    <img src="~/Images/almacenamos-y-protegemos.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 text-wrap">
                    <div class="row irow-sm mb50">
                        <div class="col-md-12">
                            <h1>Almacenamos y protegemos</h1>
                            <div class="heading-divider"></div>
                            <p>Tus Antboxs están protegidas, fumigadas y almacenadas en un lugar seguro y custodiado 24/7 con CCTV, alarma, controles de seguridad, clima y humedad. Además, tu información está segura con nosotros y resguardamos tus artículos como si fuera nuestra vida. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

        <hr class="hr-nobg" />

        <!-- CONTAINER -->
        <div class="iwrap">
            <div class="container">
                <div class="row irow-xs">
                    <div class="col-sm-4 text-wrap">
                        <div class="row irow-sm mb50">
                            <div class="col-md-12">
                                <h1>Agenda tu Entrega</h1>
                                <div class="heading-divider"></div>
                                <p>Ya sea para que te entreguemos las Antboxs vacías o bien que te esperemos y las llenes en 20 minutos o bien que ya estén listas para ir a nuestra bodega.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-wrap">
                        <!--<img src="images/agenda-tu-entrega.png" alt="" data-animate="fadeInUpBig">-->
                        <img src="~/Images/agenda-tu-entrega.png" class="img-responsive center-block" alt="">
                    </div>
                    <div class="col-sm-4 text-wrap">
                        <div class="row irow-sm mt70">
                            <div class="col-md-12">
                                <p>Lo único que tienes que hacer es decirnos cuándo y a dónde vamos y qué es lo que te gustaría hacer, de una forma muy fácil y rápida, todo está pensado para tu comodidad. ¡Con Gusto!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="iwrap pt70 pb70">
            <div class="container">
                <div class="row irow-xs nobg" data-animate="fadeInUp">
                    <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 text-center">
                        <div class="circle"></div>
                        <div class="icon icon-color icon-size-6">
                            <i class="fa fa-archive"></i>
                        </div>
                        <h1>Tus artículos de temporada, solo durante la temporada</h1>
                        <p>
                            Sabemos que todo tiene temporadas y que la ropa y la decoración cambia con ellas.
                            Nosotros guardamos los artículos que no estés utilizando y te estén quitando espacio,
                            mucho más rápido, sencillo y conveniente que llevar todo a una bodega, a casa de algún familiar amigos.
                        </p>

                        <p>¡Recupera tu espacio!</p>

                        <div class="heading-divider heading-divider-xs mb30"></div>
                        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registro">Comenzar Ahora</button>*@
                        @Html.ActionLink("Comenzar Ahora", "Index", "Precios", new { }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        
    </div>
    <!-- /.wrapper -->
 </div>
