@{
    ViewBag.Title = "Antbox";
}
<!-- /.header --><!-- WRAPPER -->
<div class="wrapper">

    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-check-square-o"></i>
                    <h1>Precios</h1>
                    <div class="divider"></div>
                    <span class="subtitle">Usa sin salir de casa y paga solo lo que usas</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content no-pt">

        <!-- CONTAINER -->
        <div class="iwrap">
            <section class="container">
                <div class="row text-wrap text-center">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-animate="fadeInDown">
                        <h1>Usa sin salir de casa y paga solo lo que usas</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip retex tempor incididunea commodo consequat.</p>
                        <div class="heading-divider heading-divider-xs"></div>
                    </div>
                </div>
            </section>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-sm text-center cards steps-4 steps-noborder">
                <a href="" class="col-md-3 col-sm-6 card card-light border_bottom">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-archive"></i>
                    </div>
                    <h4>1. Agregar Antboxs</h4>
                    <p>Duis aute irure dolor in reprehe nderit voluptate velit esse lum dolore eufugiat nulla.</p>
                </a>
                <div class="col-md-3 col-sm-6 card card-light card-lighter">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-truck"></i>
                    </div>
                    <h4>2. Agendar entregas</h4>
                    <p>Duis aute irure dolor in reprehe nderit voluptate velit esse lum dolore eufugiat nulla.</p>
                </div>
                <a href="" class="col-md-3 col-sm-6 card card-light card-darker">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-user"></i>
                    </div>
                    <h4>3. Crear cuenta</h4>
                    <p>Duis aute irure dolor in reprehe nderit voluptate velit esse lum dolore eufugiat nulla.</p>
                </a>
                <a href="" class="col-md-3 col-sm-6 card card-light card-lighter">
                    <div class="icon icon-color icon-size-4">
                        <i class="fa fa-truck"></i>
                    </div>
                    <h4>4. ¡Orden completa!</h4>
                    <p>Duis aute irure dolor in reprehe nderit voluptate velit esse lum dolore eufugiat nulla.</p>
                </a>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs cards">
                <div class="col-sm-12">
                    <h2>Agregar Antboxs</h2>
                    <div class="heading-divider"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipea commo do consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- CONTAINER -->
        <div class="container">
            <div class="row irow-xs cards">
                <div class="col-md-4 col-sm-12 pb70">
                    <div class="card card-image">
                        <figure class="figure slider oneslider">
                            <ul data-fx="crossfade" data-auto="true" data-timeout="4500">
                                <li>
                                    <a href="">
                                        <img src="http://placehold.it/600x400" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="http://placehold.it/600x400" alt="">
                                    </a>
                                </li>
                            </ul>
                            <a class="slider-arrow slider-arrow-prev" href=""></a>
                            <a class="slider-arrow slider-arrow-next" href=""></a>
                            <nav class="slider-pagination"></nav>
                        </figure>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <!-- CONTAINER -->
                    <div class="container">
                        <form class="cart-form">
                            <div class="table-responsive">
                                <table class="table shop_table cart">
                                    <thead>
                                        <tr>
                                            <th class="product-name">Antboxs</th>
                                            <th class="product-price">Precio</th>
                                            <th class="product-quantity">Cantidad</th>
                                            <th class="product-subtotal">Total</th>
                                            <th class="product-remove">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                <a href="">Antboxs Chica</a>
                                                <dl class="variation">
                                                    <dt class="variation-Color">Medidas:</dt>
                                                    <dd class="variation-Color">
                                                        <p>27" x 17" x 12"</p>
                                                    </dd>
                                                </dl>
                                            </td>
                                            <td class="product-price">
                                                <span class="amount">$ 100.00</span>
                                            </td>
                                            <td class="product-quantity">
                                                <a href="" class="minus disabled">-</a>
                                                <input type="text" value="1">
                                                <a href="" class="plus">+</a>
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount">$ 100.00</span>
                                            </td>
                                            <!--<td class="product-remove">
                                                <a href="" class="remove">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>-->
                                        </tr>
                                        <!--<tr class="cart_item">
                                            <td class="product-name">
                                                <a href="">Antboxs Grande</a>
                                                <dl class="variation">
                                                    <dt class="variation-Color">Medidas:</dt>
                                                    <dd class="variation-Color">
                                                        <p>27" x 17" x 12"</p>
                                                    </dd>
                                                </dl>
                                            </td>
                                            <td class="product-price">
                                                <span class="amount">$ 50.00</span>
                                            </td>
                                            <td class="product-quantity">
                                                <a href="" class="minus disabled">-</a>
                                                <input type="text" value="1">
                                                <a href="" class="plus">+</a>
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount">$ 107.99</span>
                                            </td>
                                            <td class="product-remove">
                                                <a href="" class="remove">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>-->
                                    <td class="actions" colspan="6">
                                        <div class="coupon pull-right">
                                            <input id="coupon_code" class="input-text" type="text" placeholder="Código de cupón" value="" name="coupon_code">
                                            <input class="btn btn-primary btn-border ml20" type="submit" value="Aplicar cupón">
                                        </div>
                                    </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row irow-xs cart-collaterals">
                                <div class="col-md-5 col-sm-6">

                                </div>
                                <div class="col-md-offset-1 col-sm-6 cart_totals">
                                    <table class="table">
                                        <tbody>
                                            <tr class="cart-subtotal">
                                                <th>Descuento</th>
                                                <td>
                                                    <span class="amount">$ 0</span>
                                                </td>
                                            </tr>
                                            <tr class="cart-subtotal">
                                                <th>Subtotal</th>
                                                <td>
                                                    <span class="amount">$ 1,000.00</span>
                                                </td>
                                            </tr>
                                            <tr class="shipping">
                                                <th>+ IVA</th>
                                                <td>
                                                    <span class="amount">$ 116.00</span>
                                                </td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>Total</th>
                                                <td>
                                                    <strong>
                                                        <span class="amount">$ 1,116.00</span>
                                                    </strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <hr />

                            <div class="wc-proceed-to-checkout">
                                <input class="btn btn-primary btn-lg" type="submit" value="Agendar entradas">
                            </div>
                        </form>
                    </div>
                    <!-- /.container -->
                </div>

            </div>
        </div>
        <!-- /.container -->


    </div>
    <!-- /.content -->
    <!-- PROMO-BOX -->
    <div class="promo-box promo-box-light">
        <div class="container">
            <section class="row irow-xs page-header cols-border divtable mt30 mb30">
                <div class="col-lg-10 col-md-9 col-sm-8 divcell promobox_txt">
                    <h1>¿Tienes dudas sobre nuestro servicio?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 text-right divcell">
                    <a href="" class="btn btn-primary btn-lg">Preguntas Frecuentes</a>
                </div>
            </section>
        </div>
    </div>
    <!-- /.promo-box -->

</div>
<!-- /.wrapper -->
