
@{
    ViewBag.Title = "Preguntas frecuentes";
}

<!-- WRAPPER -->
<div class="wrapper preguntas_frecuentes">

    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-check-square-o"></i>
                    <h1>Preguntas Frecuentes</h1>
                    <div class="divider"></div>
                    <span class="subtitle">Tal vez aquí encuentres la respuesta a tu pregunta</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content no-pt">

        <!-- CONTAINER -->
        <div class="iwrap pt70 pb70">
            <div class="container">
                <div class="row irow-xs nobg" data-animate="fadeInUp">
                    <div class="col-sm-12 text-center">
                        <div class="circle"></div>
                        <div class="icon icon-color icon-size-7">
                            <i class="fa fa-question-circle"></i>
                        </div>
                        <h1>Preguntas Frecuentes</h1>
                        <div class="heading-divider heading-divider-xs mb30"></div>
                    </div>
                    <div class="col-sm-6">
                        <p>Si tiene preguntas acerca de Antboxs o los servicios que proveemos, vea las preguntas más comunes que hemos recibido.</p>
                        <p>Antboxs es un proveedor de servicio de almacenaje enfocado en las necesidades de residentes urbanos que se enfrentan con la situación de tener demasiados artículos que van almacenándose en sus espacios vitales.</p>
                        <p>Antboxs provee grandes contenedores de plástico (Antboxs) en perfecto estado que se llevan a la puerta del cliente y posteriormente los recoge con un operador, para llevarlo a un almacén seguro, donde los contenedores son ingresados y situados en unas instalaciones de almacenaje de 1era calidad.</p>
                    </div>
                    <div class="col-sm-6">
                        <p>Antboxs desarrolla y mantiene su propia logística de almacenaje e inventarios. Los ingenieros de software de Antboxs trabajan con diligencia para asegurar que este complejo sistema se mantenga simple para los clientes usando sus computadoras, tablets o Smart phones.</p>
                        <p>Ya sea que rente un contenedor, o veinte, Antboxs cobra $75.00 por almacenaje por mes por cada uno.</p>
                        <p>Antboxs provee TODO el transporte de manera gratuita, una vez al mes. Esto significa que cuando solicita su servicio de almacenaje, un chofer lo entregará sin costo. Después de que usted empaque sus artículos en los contenedores, un trasportista de Antboxs los recogerá en su hogar u oficina de manera gratuita. Cuando usted requiera sus contenedores de regreso, se los enviamos sin costo. Le proveemos una re-entrega sin costo con cada tres meses de almacenamiento y hasta cuatro entregas sin costo por año.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-12">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-archive"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>SERVICIO ANTBOXS</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-1-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué es ANTBOXS?</a>
                            </div>
                            <div id="collapse-1-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>ANTBOXS es un proveedor de almacenaje por pedido.</p>
                                    <p>Entregamos contenedores de plástico de alta resistencia para que empaques tus pertenencias. Los recogemos, y almacenamos en nuestra bodega. Cuando las necesites, puedes solicitar ya sea un contenedor en específico o varios al mismo tiempo. Si requieres de mayor espacio, puedes almacenar bicicletas, caminadoras, aires acondicionados, palos de golf, y cualquier artículo considerado de temporada y portátil; solo tienes que solicitarlo y te daremos un precio especial.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-1-2" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué significa “por pedido”?</a>
                            </div>
                            <div id="collapse-1-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>El término “por pedido” significa que usted puede ordenar su almacenaje en cualquier momento y desde cualquier aparato, ya sea computadora, Tablet, Smartphone, etc.</p>
                                    <p>También tiene la habilidad de visualizar el status de los artículos almacenados en el momento que lo desee accesando a su cuenta en línea. Además puede solicitar que los artículos les sean devueltos en el momento que desee… Eso es “por pedido”.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-1-3" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Es ANTBOXS una instalación para sistema de almacenaje?</a>
                            </div>
                            <div id="collapse-1-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>No. Antboxs es un negocio de almacenamiento móvil. Por lo general, en un almacén el cliente renta una unidad y lleva y recoge sus artículos él mismo. Con un almacenamiento móvil, los clientes pagan solamente por el espacio que necesitan, y recoger y entregar los artículos es parte del servicio de Antboxs. Este sistema de almacenamiento se ha hecho popular para personas que viven en ciudades donde los traslados pueden resultar complicados.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-1-4" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cómo utiliza la gente Antboxs?</a>
                            </div>
                            <div id="collapse-1-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>La mayoría de nuestros clientes mantienen una relación muy dinámica con Antboxs. Contrario al almacenaje tradicional donde los artículos permanecen por años, los clientes usan nuestro servicio para hacer uso de sus artículos de acuerdo a las necesidades, y almacenan otros artículos que no serán utilizados por cierto tiempo. Esto es un proceso continuo y más clientes piensan en Antboxs como un closet, un ático o un sótano que no poseen. Ya que puede tener sus artículos de regreso en cualquier momento, o enviarlos guardar sin salir de casa, los clientes tienden a crecer y solicitar almacenaje adicional de nuestra parte.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-1-5" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué hace a Antboxs diferente?</a>
                            </div>
                            <div id="collapse-1-5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Antboxs se jacta de tener un sistema de almacenamiento altamente calificado y el sistema de logística con una interface simple, que le permite al cliente no solo ordenar el servicio de recoger y entregar de manera rápida, sino que también le da la habilidad al cliente de administrar sus inventarios personales en línea y ver en tiempo real sus artículos ya que son fotografiados.</p>
                                    <p>Antboxs también maneja y mantiene sus propias instalaciones de almacenaje y distribución.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-shield"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>SEGURIDAD Y TRANQUILIDAD</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-2-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Un lugar de almacenaje con todos los contenedores idénticos? ¿Cómo aseguran que no se confundirán con los de otros clientes?</a>
                            </div>
                            <div id="collapse-2-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Invertimos en un sistema de lector de código barras de escaneo que identifica cada contenedor con el nombre del cliente, ID y numero de localización dentro de las instalaciones. Además, nuestros sellos de seguridad son numerados individualmente para identificar sus propios contenedores. Contamos con un robusto y confiable WMS (Warehouse Management System) que identifica y controla cada ID dentro del almacén.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-2-2" class="collapsed"><i class="fa fa-minus pull-left"></i> Me preocupa la seguridad. ¿Cómo es que Antboxs asegura mis pertenencias?</a>
                            </div>
                            <div id="collapse-2-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Consideramos nuestra seguridad de tres maneras. Nuestro staff tiene que ser honesto y contar con toda la confianza. Nuestras instalaciones deben ser seguras, y nuestro sistema de operación debe ser lógico, probado y sin errores.</p>
                                    <p><em>Seguridad de los empleados:</em> Cada empleado de Antboxs al solicitar empleo, debe pasar una investigación rigurosa de sus antecedentes. Si pasan este punto, creamos un vinculo. La compañía con la que trabajamos, vuelve a checar a cada empleado y establece una poliza de seguro contra robo en ese empleado en particular.</p>
                                    <p><em>Seguridad en las instalaciones:</em> Las instalaciones de Antboxs cuentan con seguridad 24 horas en las entradas, y además se cuenta con cámaras de seguridad que cubren tanto el interior como el exterior de las instalaciones.</p>
                                    <p><em>Sistema de seguridad en el proceso de trabajo:</em> El proceso de trabajo de Antboxs en el cual sus artículos son transportados y manejados, ha sido construido en un lugar que monitorea electrónicamente documentos, rutas y todas las actividades de los transportistas. Las rutas son capturadas  paso a paso  con nombre y tiempo de cada empleado que está en contacto con sus artículos. Eso asegura el proceso de trabajo y la seguridad de sus artículos.</p>
                                    <p>Adicionalmente toda la mercancía cuenta con un seguro incluido en tu renta mensual hasta por 5,000 pesos. Los sellos de seguridad, cuentan con un número de serie, y al momento de regresarte las Antboxs los clientes podrán revisar que el sello con mismo número de serie, no ha sido violado. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-2-3" class="collapsed"><i class="fa fa-minus pull-left"></i> Después de que mis artículos son recogidos por el transportista, ¿como puedo saber que están siendo almacenados de manera segura?</a>
                            </div>
                            <div id="collapse-2-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>El sistema Antboxs actualizará su estado automáticamente vía texto SMS y correo electrónico después de recoger sus artículos. Usted será notificado en el momento en que el transportista esté en camino hacia su domicilio u oficina, después de que recoge sus artículos en caso de que los haya dejado encargados con el portero si fuera el caso, y cuando sus contenedores arriben a su destino en las instalaciones, se le informara la localización dentro de las propias instalaciones. Esto para su tranquilidad. Y podrá consultar su inventario en nuestro sistema las 24 horas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-tag"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>PRECIO</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-3-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cuánto cuesta Antboxs?</a>
                            </div>
                            <div id="collapse-3-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Mensualmente se cobran $75.00 por Antboxs. Usted obtiene sus contenedores vacios en su hogar de manera gratuita y el traslado a las instalaciones es sin costo.</p>
                                    <p>Para otros artículos que no quepan en los contenedores Antboxs, los clientes podrán solicitar una cotización personalizada, por ejemplo, por sus palos de golf, artículos de ski, aires acondicionados y cualquier otro artículo de estación.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-3-2" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué tan grandes son los contenedores rojos?</a>
                            </div>
                            <div id="collapse-3-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Miden 60 cms x 40cms x 32cms.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-3-3" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Existe un mínimo de contenedores rojos para ordenarlos?</a>
                            </div>
                            <div id="collapse-3-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>No. Puede ordenar uno o varios contenedores.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-exclamation-circle"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>EMBALAJE DE CONTENEDORES Y RESTRICCIONES</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-4-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué puedo empacar en los contenedores?</a>
                            </div>
                            <div id="collapse-4-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>La mayoría de la gente usa los contenedores como una especie de closet.</p>
                                    <p>Van rotando su inventario de acuerdo a la época del año, por ejemplo ropa de verano y ropa de invierno. Se usan también para libros, papeles, decoraciones navideñas, ropa de bebe, artículos de campamento, accesorios, CD y DVD, etc.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-4-2" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué no debo poner en los contenedores?</a>
                            </div>
                            <div id="collapse-4-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Nada que sea flamable, que pueda romperse, perecederos, de comer o artículos de gran valor o irremplazables. Y ningún artículo prohibido por la ley.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-4-3" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cómo solicito un contenedor?</a>
                            </div>
                            <div id="collapse-4-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Entre al sitio en línea <a href="http://www.antboxs.com">www.antboxs.com</a> Escoja “Sí. Necesito mas espacio!” Siga las instrucciones para abrir una cuenta.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-4-4" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué tan rápido puedo obtener mi contenedor?</a>
                            </div>
                            <div id="collapse-4-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Una vez que haya creado su cuenta en nuestra pagina y haya anotado su código postal, podrá escoger su ventana de tiempo que le acomode.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-4-5" class="collapsed"><i class="fa fa-minus pull-left"></i> Una vez que obtenga mis contenedores, ¿cuánto tiempo tengo para empacar mis artículos?</a>
                            </div>
                            <div id="collapse-4-5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>La fecha de almacenaje empieza desde el momento en que hacemos entrega de los contenedores vacíos. La mayoría de la gente solicita sus contenedores ya que tiene organizado qué pondrá dentro de ellos, y contará con 20 minutos para almacenar sus contenedores y entregarlas al transportista.</p>
                                    <p>Puedes, si lo deseas, pedirle al transportista que regrese a recoger los contenedores en otro momento. Esto también, lo puedes indicar desde que generas tu pedido.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-4-6" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Les importa como empaque mis contenedores?</a>
                            </div>
                            <div id="collapse-4-6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Seguro, y a ti también debe importarte. No aceptaremos contenedores que estén sobrecargados, así es que asegúrese de que pueden cerrarse sin que se estropee nada dentro. Nuestras tarifas competitivas de almacenaje dependen de la mayor capacidad de almacenaje dentro de nuestras instalaciones, y manteniendo los contenedores dentro de un estándar de almacenaje, podemos mantener los precios bajos. Por esta razón el contenedor deberá poder cerrarse fácilmente.</p>
                                    <p>También considere que no se aceptan contenedores extra pesados. Si usted no puede levantarlo, probablemente tampoco podremos hacerlo nosotros. Empaque sus contenedores con cuidado. Sus contenedores serán transportados y manejados muchas veces por diferentes empleados y aunque se manejan con extremo cuidado, pueden moverse los artículos que hay dentro.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-4-7" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué sucede si ya programé mis contenedores y resulta que necesitaré más de 4?</a>
                            </div>
                            <div id="collapse-4-7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Puede actualizar su cuenta usando la aplicación para su móvil y el transportista le podrá proveer con más contenedores. Por lo general tienen unos 30 contenedores de más en los camiones.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-truck"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>RE-ENTREGA DE MIS CONTENEDORES O ARTICULOS</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-5-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cómo recupero mis cosas?</a>
                            </div>
                            <div id="collapse-5-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Entra en línea y ordena su regreso. Puedes poner la información de los artículos que solicita de regreso, de un contenedor completo, a la dirección que desees*.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-5-2" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cuánto tiempo toma tenerlos de regreso?</a>
                            </div>
                            <div id="collapse-5-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Entregamos de 24 a 48 horas.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-5-3" class="collapsed"><i class="fa fa-minus pull-left"></i> Tengo 7 contenedores almacenados y quiero dos de regreso en los que se encuentran mis ropas de vacaciones. ¿Cómo tengo de regreso solo esos?</a>
                            </div>
                            <div id="collapse-5-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Vaya a su cuenta y cheque su inventario. Después cheque qué contenedores quiere de regreso. Dele click donde dice “quiero estos de regreso” y escoja una fecha y hora para su entrega.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-5-4" class="collapsed"><i class="fa fa-minus pull-left"></i> Por error deje mi pasaporte en una de las bolsas de mi chamarra que está almacenada. ¿Puedo pasar personalmente a recogerlo?</a>
                            </div>
                            <div id="collapse-5-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>No, por cuestiones de seguridad no se permite el acceso a personas no autorizadas dentro de las instalaciones. Con mucho gusto le podremos llevar de regreso sus Antboxs, para que tome lo que requiera. Se asignarán nuevos sellos de seguridad.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-sliders"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>CÁLCULO DE LA RENTA, TÉRMINOS Y MÍNIMOS</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Por qué hay un mínimo de 3 meses de almacenamiento?</a>
                            </div>
                            <div id="collapse-6-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Esto lo hacemos con el objetivo de mantener nuestros precios siempre bajos.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-2" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Existen algunas otras cuotas administrativas, cuota por contratación o algún cargo oculto?</a>
                            </div>
                            <div id="collapse-6-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>No. No cargamos cuotas adicionales a su cuenta. No hay cuota alguna por mantenimiento.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-3" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Puedo recoger mis artículos antes de los tres meses?</a>
                            </div>
                            <div id="collapse-6-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Sí, pero será responsable del pago de la cuota por un almacenaje mínimo de tres meses.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-4" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cómo está calculada la renta?</a>
                            </div>
                            <div id="collapse-6-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Comienza pagando la renta al momento en que los contenedores le son entregados. Esta será su fecha establecida de aniversario. Toda renta vencerá en esa fecha. La renta por artículos individuales está calculada desde el momento en que los artículos le son recogidos en su domicilio. Se prorratea esto en su fecha de aniversario.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-5" class="collapsed"><i class="fa fa-minus pull-left"></i> Ordene cuatro contenedores por $75.00 cada uno y en mi tarjeta de crédito el cargo aparece por la cantidad de $75.00 por cada uno por 3. ¿Por qué?</a>
                            </div>
                            <div id="collapse-6-5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Esto es porque le hicimos un cargo por el mínimo de almacenaje de tres meses. ($75x3X4=$1,200) No se le hará ningún cargo hasta el momento en que comience su cuarto mes y después de ahí, cada mes subsecuente de la renta.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-6" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cómo pago mi renta?</a>
                            </div>
                            <div id="collapse-6-6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>No se le avisará. Cuando abra su cuenta, nos proporcionará un número de tarjeta de crédito en donde realizaremos el cargo en su fecha de aniversario. Le mandaremos un correo cada que el cargo sea aplicado.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-7" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Aplican cargo por demora?</a>
                            </div>
                            <div id="collapse-6-7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Es su responsabilidad mantener su cuenta con una tarjeta de crédito valida y actualizada. Después de un periodo de 10 días de gracia, empezará a incurrir en cuotas de cargo por demora.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-8" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Existe un periodo de gracia?</a>
                            </div>
                            <div id="collapse-6-8" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Sí. 10 días a partir de su fecha de aniversario.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-9" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿De cuánto es la cuota de cargo por demora?</a>
                            </div>
                            <div id="collapse-6-9" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>El cargo es de $150.00 pesos por mes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-10" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cómo manejan cuentas de clientes morosos?</a>
                            </div>
                            <div id="collapse-6-10" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Después de un periodo de tres meses de no realizar el pago empezaremos un proceso de subasta pública. Sus artículos se ofertarán públicamente. No podrá hacer uso de Antboxs de nuevo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-11" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cómo manejan las devoluciones por cargo?</a>
                            </div>
                            <div id="collapse-6-11" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Las devoluciones afectan seriamente nuestro negocio y nuestra relación con el banco. Consideramos que una devolución es una violación a nuestro contrato con el cliente.</p>
                                    <p>Si existe una disputa en relación a una cuenta, puede ponerse en contacto con el departamento de contabilidad y lo manejaremos directamente.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-ban"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>EXCEPCIONES, LAS COSAS SUCEDEN</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-7-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué pasa si ordene contenedores, me los entregan, pero no quiero hacer uso del servicio?</a>
                            </div>
                            <div id="collapse-7-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Se le hará un cargo de $225.00 y recogemos los contenedores. No hay problema.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-7-2" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué sucede si me quedo con sus contenedores?</a>
                            </div>
                            <div id="collapse-7-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Habrá un cargo de $200.00 por contenedor. Es el precio en el mercado si compra un producto similar al nuestro.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-7-3" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué sucede si ordeno contenedores y no hay nadie en casa que los reciba?</a>
                            </div>
                            <div id="collapse-7-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Si no podemos dejarlos en casa con un portero, lo consideramos como que el cliente “no apareció”. Ya que nosotros realizamos nuestra parte de la entrega, será necesario hacerle un cargo de $225.00, o bien podrá ponerse en contacto con nosotros para programar otra entrega. Haremos un ajuste a su cuenta.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>ACTUALIZACIONES DE LA CUENTA</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-8-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué sucede si tengo Antboxs, pero quiero agregar más porque necesito más espacio para almacenar?</a>
                            </div>
                            <div id="collapse-8-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Le entregaremos contenedores adicionales y prorrateamos el almacenaje que ya tiene con nosotros para que, al momento de su fecha de aniversario, pague únicamente por el tiempo en que estos contenedores extras han sido utilizados. La fecha de aniversario queda de la misma manera.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-8-2" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué sucede si tengo contenedores con ustedes y deseo darlos de baja en mi cuenta para mantener menos artículos en mis Antboxs?</a>
                            </div>
                            <div id="collapse-8-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Únicamente se hará un cargo por los artículos que mantenga almacenados, pero tome en cuenta que tenemos mínimos y para reducir su almacenaje, encontrara que ciertos artículos costarán más que antes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-8-3" class="collapsed"><i class="fa fa-minus pull-left"></i> Antboxs dejó 10 contenedores en mi departamento, pero solo 5 están listos para irse. ¿Pueden recoger esos 5 y regresar mañana por el resto? ¿Hay algún cargo extra por el regreso del transportista?</a>
                            </div>
                            <div id="collapse-8-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Sí. Use la aplicación en línea y solicite que recojan los 5 contenedores que ya tiene listos. No, no hay que pagar extra por el hecho de que el transportista regrese por los otros 5 ya que esos 5 contenedores exceden nuestro mínimo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-8-3" class="collapsed"><i class="fa fa-minus pull-left"></i> Antboxs dejó 4 contenedores en mi departamento, pero solamente he llenado 3. ¿Podrán recoger el único que quedo más adelante?</a>
                            </div>
                            <div id="collapse-8-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Antboxs volverá, pero como usted solicita que nuestro transportista regrese por un solo contenedor y no se llega al mínimo, una cuota de $150.00 le será cargada a su cuenta.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-gift"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>NO BAILMENT / EMPACAR</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-9-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Pueden ustedes encargarse de empacar mis artículos en los contenedores?</a>
                            </div>
                            <div id="collapse-9-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>No. Eso asumiría un contrato entre Antboxs y usted en donde nosotros aceptaríamos tener la custodia y cuidado de artículos individualmente en sus contenedores. Antboxs solo es responsable por servicios razonables respecto a almacenar sus contenedores ya llenos y no nos hacemos responsables por artículos específicos individualmente empacados en sus contenedores.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>ORDENAR CONTENEDORES Y ESPERARLOS</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-10-1" class="collapsed"><i class="fa fa-minus pull-left"></i> Ordené mis contenedores y empaqué en tiempo y forma. No quiero estar esperando todo el día al operador como espero al señor de cable. ¿Cómo funciona esto?</a>
                            </div>
                            <div id="collapse-10-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Esperar por entregas a domicilio en la CDMX o cualquier otra ciudad es frustrante, lo sabemos.</p>
                                    <p>Sabemos que si se le notifica de manera adecuada a nuestros clientes, el nivel de frustración se reduce. Queríamos mantener informados a nuestros clientes sobre esto.</p>
                                    <p>Te notificaremos cuando nuestro operador de Antboxs vaya en camino vía SMS y correo electrónico asi como una fotografía del operador que arribará a la puerta de su casa. Usted será capaz de seguir su progreso en vivo, y su ruta se actualizará por medio de nuestro GPS con tiempo estimado de arribo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- CONTAINER -->
        <div class="iwrap pt70 pb70">
            <div class="container">
                <div class="row irow-xs nobg" data-animate="fadeInUp">
                    <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 text-center">
                        <div class="circle"></div>
                        <div class="icon icon-color icon-size-6">
                            <i class="fa fa-archive"></i>
                        </div>
                        <h1>Tus artículos de temporada, solo durante la temporada</h1>
                        <p>Sabemos que todo tiene temporadas y que la ropa y la decoración cambia con ellas. Nosotros guardamos los artículos que no estés utilizando y te estén quitando espacio, mucho más rápido, sencillo y conveniente que llevar todo a una bodega, a casa de algún familiar amigos.</p>
                        <p>¡Recupera tu espacio!</p>
                        <div class="heading-divider heading-divider-xs mb30"></div>
                        @*<a href="" class="btn btn-primary">Comenzar ahora</a>*@
                        @Html.ActionLink("Comenzar Ahora", "Index", "Precios", new { }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->


    </div>
    <!-- /.content -->

</div>
<!-- /.wrapper -->