
@{
    ViewBag.Title = "Preguntas frecuentes";
}

<!-- WRAPPER -->
<div class="wrapper preguntas_frecuentes">

    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-check-square-o"></i>
                    <h1>Preguntas Frecuentes</h1>
                    <div class="divider"></div>
                    <span class="subtitle">Tal vez aquí encuentres la respuesta a tu pregunta</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content no-pt">

        <!-- CONTAINER -->
        <div class="iwrap pt70 pb70">
            <div class="container">
                <div class="row irow-xs nobg" data-animate="fadeInUp">
                    <div class="col-sm-12 text-center">
                        <div class="circle"></div>
                        <div class="icon icon-color icon-size-7">
                            <i class="fa fa-question-circle"></i>
                        </div>
                        <h1>Preguntas Frecuentes</h1>
                        <div class="heading-divider heading-divider-xs mb30"></div>
                    </div>
                    <div class="col-sm-6">
                        <p>Si tienes preguntas acerca de <span class="font-bold">antboxs</span> o los servicios que proveemos, ve las preguntas más comunes que hemos recibido.</p>
                        <p><span class="font-bold">antboxs</span> es un proveedor de servicios de almacenaje enfocado en las necesidades de residentes urbanos que se enfrentan con la situación de tener demasiados artículos que van almacenándose acumulándose en sus espacios vitales.</p>
                        <p><span class="font-bold">antboxs</span> provee grandes contenedores de plástico (<span class="font-bold">antboxs</span>) en perfecto estado que se llevan hasta a la puerta del cliente y posteriormente los recogemos con un operador, para llevarlo a un almacén seguro, donde los contenedores son ingresados y situados en unas instalaciones de almacenaje de 1era primera calidad.</p>
                    </div>
                    <div class="col-sm-6">
                        <p><span class="font-bold">antboxs</span> desarrolla y mantiene su propia logística de almacenaje e inventarios. Los ingenieros de software de <span class="font-bold">antboxs</span> trabajan con diligencia para asegurar que este complejo sistema se mantenga simple para los clientes usando sus computadoras, tabletas o smartphones.</p>
                        <p>Ya sea que rente un contenedor, o veinte, <span class="font-bold">antboxs</span> cobra desde $82.00 hasta $99.00 por almacenaje por mes por cada una. Hay descuentos automáticos por volumen o antigüedad de estancia.</p>
                        <p><span class="font-bold">antboxs</span> provee TODO el transporte de manera gratuita, una vez al mes. Esto significa que cuando solicita su servicio de almacenaje, un chofer lo entregará sin costo. Después de que usted empaque sus artículos en los contenedores, un transportista de <span class="font-bold">antboxs</span> los recogerá en su hogar u oficina de manera gratuita. Cuando usted requiera sus contenedores de regreso, se los enviamos sin costo. Le proveemos una re-entrega sin costo con cada mes de almacenamiento*.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

        <div class="container">
            <div class="row irow-xs">
                <div class="col-sm-12">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-archive"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>SERVICIO <span class="font-bold">antboxs</span></h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-1-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué es <span class="font-bold">antboxs</span>?</a>
                            </div>
                            <div id="collapse-1-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p><span class="font-bold">antboxs</span> es un proveedor de servicios de almacenaje y logística por pedido.</p>
                                    <p>Entregamos contenedores de plástico de alta resistencia para que empaques tus pertenencias. Los recogemos, y almacenamos en nuestra bodega. Cuando los necesites, puedes solicitar ya sea un contenedor en específico o varios al mismo tiempo. Si requieres de mayor espacio, puedes almacenar bicicletas, caminadoras, aires acondicionados, palos de golf, y cualquier artículo considerado de temporada y portátil**; solo tienes que solicitarlo y te daremos un precio especial.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-1-2" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué significa “por pedido”?</a>
                            </div>
                            <div id="collapse-1-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>El término “por pedido” significa que puedes ordenar tu almacenaje en cualquier momento y desde cualquier dispositivo, ya sea computadora, tableta o smartphone.</p>
                                    <p>También tiene la habilidad de visualizar el status de los artículos almacenados en el momento que lo desee accesando a su cuenta en línea. Además puede solicitar que los artículos les sean devueltos en el momento que desee… Eso es “por pedido”.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-1-3" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Es <span class="font-bold">antboxs</span> una instalación para sistema de almacenaje?</a>
                            </div>
                            <div id="collapse-1-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>No, <span class="font-bold">antboxs</span> es un negocio de almacenamiento bajo demanda; Por lo general, en un almacén o mini bodega el cliente renta una unidad de carga y lleva y recoge sus artículos él mismo. En cambio, con <span class="font-bold">antboxs</span>, los clientes pagan solamente por el espacio que necesitan, y recoger y entregar los artículos es parte del servicio de <span class="font-bold">antboxs</span>. Este sistema de almacenamiento se ha hecho popular para personas que viven en ciudades donde los traslados pueden resultar complicados y el espacio de almacenamiento es limitado.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-1-4" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cómo utiliza la gente <span class="font-bold">antboxs</span>?</a>
                            </div>
                            <div id="collapse-1-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>La mayoría de nuestros clientes mantienen una relación muy dinámica con <span class="font-bold">antboxs</span>. Contrario al almacenaje tradicional donde los artículos permanecen por años, los clientes usan nuestro servicio para hacer uso de sus artículos de acuerdo a las necesidades, y almacenan otros artículos que no serán utilizados por cierto tiempo. Esto es un proceso continuo y más clientes piensan en <span class="font-bold">antboxs</span> como un closet, un ático o un sótano que no poseen. Ya que puede tener sus artículos de regreso en cualquier momento, o enviarlos a guardar sin salir de casa, los clientes tienden a crecer y solicitar almacenaje adicional de nuestra parte.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-1-5" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué hace a <span class="font-bold">antboxs</span> diferente?</a>
                            </div>
                            <div id="collapse-1-5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p><span class="font-bold">antboxs</span> se jacta de tener un sistema de almacenamiento altamente calificado y el sistema de logística con una interfaz simple, que le permite al cliente no solo ordenar el servicio de recoger y entregar de manera rápida, sino que también le da la posibilidad de administrar sus inventarios personales en línea y ubicar sus artículos ya que son clasificados durante el proceso de embarque.</p>
                                    <p><span class="font-bold">antboxs</span> también maneja y mantiene sus propias instalaciones de almacenaje y distribución.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-shield"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>SEGURIDAD Y TRANQUILIDAD</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-2-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Un lugar de almacenaje con todos los contenedores idénticos? ¿Cómo aseguran que no se confundirán con los de otros clientes?</a>
                            </div>
                            <div id="collapse-2-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Tenemos un sistema lector de código barras de escaneo que identifica cada contenedor con el nombre del cliente, ID y numero de localización dentro de las instalaciones. Además, nuestros sellos de seguridad son numerados individualmente para identificar sus propios contenedores. Contamos con un robusto y confiable WMS (Warehouse Management System) que identifica y controla cada ID dentro del almacén.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-2-2" class="collapsed"><i class="fa fa-minus pull-left"></i> Me preocupa la seguridad. ¿Cómo <span class="font-bold">antboxs</span> asegura mis pertenencias?</a>
                            </div>
                            <div id="collapse-2-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>La seguridad para nosotros tiene tres elementos básicos: Nuestros empleados tienen que ser honestos y contar con toda la confianza; nuestras instalaciones deben ser seguras, y nuestro sistema de operación debe ser lógico, probado y sin errores.</p>
                                    <p><em>Empleados de <span class="font-bold">antboxs</span>:</em> Cada candidato que decide solicitar ser parte de <span class="font-bold">antboxs</span> pasa una investigación rigurosa de antecedentes. Si pasan este punto, creamos una relación laboral y en ese punto volvemos a checar la historia del solicitante y establecemos una póliza de seguro contra robo para ese empleado en particular.</p>
                                    <p><em>Seguridad en las instalaciones:</em> Las instalaciones de <span class="font-bold">antboxs</span> cuentan con seguridad 24 horas en las entradas, y además se cuenta con cámaras de seguridad que cubren tanto el interior como el exterior de las instalaciones. </p>
                                    <p><em>Seguridad en la operación:</em> El proceso de trabajo de <span class="font-bold">antboxs</span>, ha sido construido en un lugar  que monitorea electrónicamente documentos, rutas y todas las actividades de los transportistas. Las rutas son capturadas paso a paso con nombre y tiempo de cada empleado que está en contacto con sus artículos. Eso asegura el proceso de trabajo y la seguridad de sus artículos. Los sellos de seguridad cuentan con un número de serie, y al momento de regresarte tus <span class="font-bold">antboxs</span> podrás revisar que el sello tiene el  mismo número de serie y no ha sido violado.</p>
                                    <p>Adicionalmente toda la mercancía cuenta con un seguro incluido en tu renta mensual por $ 2,000 pesos por cada <span class="font-bold">antboxs</span>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-2-3" class="collapsed"><i class="fa fa-minus pull-left"></i> Después de que mis artículos son recogidos por el transportista, ¿como puedo saber que están siendo almacenados de manera segura?</a>
                            </div>
                            <div id="collapse-2-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>El sistema <span class="font-bold">antboxs</span> actualizará su estado automáticamente vía texto SMS y correo electrónico después de recoger tus artículos. Serás notificado en el momento en que el transportista esté en camino hacia tu domicilio u oficina, después de que recoge sus artículos en caso de que los haya dejado encargados con el portero si fuera el caso, y cuando tus contenedores lleguen a su destino en las bodegas, se le informara la localización dentro de las propias instalaciones. Esto para tu tranquilidad. Y podrás consultar su inventario en nuestro sistema las 24 horas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-tag"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>PRECIO</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-3-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cuánto cuesta <span class="font-bold">antboxs</span>?</a>
                            </div>
                            <div id="collapse-3-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p><span class="font-bold">antboxs</span> cobra desde $82.00 hasta $99.00 por almacenaje por mes por cada una. Hay descuentos automáticos por volumen o antigüedad de estancia.</p>
                                    <p>Para otros artículos que no quepan en los contenedores <span class="font-bold">antboxs</span>, los clientes podrán solicitar una cotización personalizada, por ejemplo, por sus palos de golf, equipo para esquiar, aires acondicionados y cualquier otro artículo de estación</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-exclamation-circle"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>EMBALAJE DE CONTENEDORES Y RESTRICCIONES</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-4-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué puedo empacar en los contenedores?</a>
                            </div>
                            <div id="collapse-4-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>La mayoría de la gente usa los contenedores como una especie de closet.</p>
                                    <p>Van rotando su inventario de acuerdo a la época del año, por ejemplo, ropa de verano y ropa de invierno. Se usan también para libros, papeles, decoraciones navideñas, ropa de bebe, artículos de campamento, accesorios, CD y DVD, etc. Todos los objetos que el cliente desee almacenar deben de caber dentro de las cajas proporcionadas, y no se aceptará ningún tipo de recipiente que no sea una <span class="font-bold">antboxs</span> o caja de almacenamiento proveída por <span class="font-bold">antboxs</span>. Existen <span class="font-bold">antboxs</span> del tamaño adecuado para almacenamiento de arhivo de oficina.Todo tipo de objetos y mercancía que el cliente desee almacenar con sus debidas exclusiones .</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-4-2" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué no debo poner en los contenedores?</a>
                            </div>
                            <div id="collapse-4-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>- Explosivos y/o radioactivos</p>
                                    <p>- Armas de fuego</p>
                                    <p>- Perecederos</p>
                                    <p>- Obras de arte</p>
                                    <p>- Tabaco en cualquier presentación</p>
                                    <p>- Chatarra, basura y/o desperdicios industriales</p>
                                    <p>- Yute, copra y henequén</p>
                                    <p>- Todo tipo de vehículos movidos por su propio impulso o remolcados (cascos de barcos, aviones, locomotoras, teleféricos, funiculares, entre otros)</p>
                                    <p>- Algodón en cualquier presentación</p>
                                    <p>- Joyas y metales preciosos y semipreciosos</p>
                                    <p>- Dinero y/o valores</p>
                                    <p>- Tarjetas de crédito</p>
                                    <p>- Animales</p>
                                    <p>- Equipo electrónico (Celulares, Lap Top, tabletas electrónicas, entre otros)</p>
                                    <p>- Electrodomésticos</p>
                                    <p>- Cualquier bien prohibido de acuerdo a la legislación vigente</p>
                                    <p>- Cigarros y Puros.</p>
                                    <p>- Resinas plásticas como materia prima a granel.</p>
                                    <p>- Medicinas</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-4-3" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cómo solicito un contenedor?</a>
                            </div>
                            <div id="collapse-4-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Entre al sitio <a href="http://www.antboxs.com">www.antboxs.com</a> selecciona la opción “Crear Cuenta” y sigue las instrucciones</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-4-4" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué tan rápido puedo obtener mi contenedor?</a>
                            </div>
                            <div id="collapse-4-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Una vez que hayas creado tu cuenta en nuestra página y hayas anotado tu código postal, podrás escoger la ventana de tiempo que más te acomode.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-4-5" class="collapsed"><i class="fa fa-minus pull-left"></i> Una vez que obtenga mis contenedores, ¿cuánto tiempo tengo para empacar mis artículos?</a>
                            </div>
                            <div id="collapse-4-5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>La fecha de almacenaje empieza desde el momento en que hacemos entrega de los contenedores vacíos. La mayoría de la gente solicita sus contenedores ya que tiene organizado todo lo que pondrá dentro de ellos, y contará con 20 minutos para almacenar sus contenedores y entregarlas al transportista.</p>
                                    <p>Puedes, si lo deseas, pedirle al transportista que regrese a recoger los contenedores en otro momento. Esto también lo puedes indicar desde que generas tu pedido</p>
                                    <p>Al llevarte tus <span class="font-bold">antboxs</span> vacías, esperaremos hasta 20 minutos para que empaques tus cosas y nos las llevemos al Almacén seguro de <span class="font-bold">antboxs</span>; en caso de que requieras más tiempo, pasaremos otro día a recoger tus <span class="font-bold">antboxs</span> con tus cosas, tu nos indicas cuando, y te haremos un cargo de $158 pesos mexicanos IVA incluido por el depósito de cada <span class="font-bold">antboxs</span>, al momento de dejártelas, el cual se te reembolsará cuando vayamos por ellas.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-4-6" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Les importa como empaque mis contenedores?</a>
                            </div>
                            <div id="collapse-4-6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Seguro, y también debe importarte. No aceptaremos contenedores que estén sobrecargados, así es que asegúrate de que pueden cerrarse sin que se estropee nada dentro. Nuestras tarifas competitivas dependen de la mayor capacidad de almacenaje dentro de nuestras instalaciones, y manteniendo los contenedores dentro de un estándar, podremos mantener los precios bajos. Por esta razón el contenedor deberá poder cerrarse fácilmente.</p>
                                    <p>También considera que no se aceptan contenedores extra pesados. Empácalos con cuidado: tus contenedores serán transportados y manejados varias veces por diferentes empleados y aunque se hace con extremo cuidado, pueden moverse los artículos que hay dentro.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-4-7" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué sucede si ya programé mis contenedores y resulta que necesitaré más de 4?</a>
                            </div>
                            <div id="collapse-4-7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Puedes actualizar tu cuenta usando la aplicación para móvil y el transportista podrá proveer con más contenedores. Por lo general tienen unos 30 contenedores disponibles en los camiones: Solo pagas por lo que usas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-truck"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>RE-ENTREGA DE MIS CONTENEDORES O ARTICULOS</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-5-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cómo recupero mis cosas?</a>
                            </div>
                            <div id="collapse-5-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Entra en línea y ordena su regreso a la dirección que nos indiques.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-5-2" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cuánto tiempo toma tenerlos de regreso?</a>
                            </div>
                            <div id="collapse-5-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Entregamos de 24 a 48 horas.</p>
                                    <p>Si requieres algo urgente, mismo día, podemos coordinar la entrega en uber, monto que será cargado a tu cuenta, mas un 15% </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-5-3" class="collapsed"><i class="fa fa-minus pull-left"></i> Tengo 7 contenedores almacenados y quiero dos de regreso en los que se encuentran mis ropas de vacaciones. ¿Cómo tengo de regreso solo esos?</a>
                            </div>
                            <div id="collapse-5-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Ve a tu cuenta y verifica tu inventario. Después selecciona cuáles contenedores quieres de regreso. Dale clic donde dice “quiero estos de regreso” y escoge una fecha y hora para su entrega.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-5-4" class="collapsed"><i class="fa fa-minus pull-left"></i> Por error deje mi pasaporte en una de las bolsas de mi chamarra que está almacenada. ¿Puedo pasar personalmente a recogerlo?</a>
                            </div>
                            <div id="collapse-5-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>No. Por cuestiones de seguridad no se permite el acceso a personas no autorizadas dentro de las instalaciones. Con mucho gusto le podremos llevar de regreso sus <span class="font-bold">antboxs</span>, para que tome lo que requiera. Al recogerlo se asignarán nuevos sellos de seguridad .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-sliders"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>CÁLCULO DE LA RENTA, TÉRMINOS Y MÍNIMOS</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-2" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Existen algunas otras cuotas administrativas, cuota por contratación o algún cargo oculto?</a>
                            </div>
                            <div id="collapse-6-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>No. No cargamos cuotas adicionales a su cuenta. No hay cuota alguna por mantenimiento.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-4" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cómo está calculada la renta?</a>
                            </div>
                            <div id="collapse-6-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Comienza pagando la renta al momento en que los contenedores te son entregados. Esta será tu fecha establecida de aniversario. Toda renta vencerá en esa fecha, día del mes. La renta por artículos individuales está calculada desde el momento en que los artículos on recogidos en tu domicilio. Se prorratea esto en tu fecha de aniversario.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-6" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cómo pago mi renta?</a>
                            </div>
                            <div id="collapse-6-6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Cuando abras tu cuenta, nos proporcionarás un número de tarjeta de crédito en donde realizaremos el cargo en su fecha de aniversario. Te mandaremos un correo cada vez que el cargo sea aplicado.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-7" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Aplican cargo por demora?</a>
                            </div>
                            <div id="collapse-6-7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Es tu responsabilidad mantener tu cuenta con una tarjeta de crédito valida y actualizada. En el caso de que el cliente no pague puntualmente y caiga en deuda con <span class="font-bold">antboxs</span> ("Deuda"),  te lo notificaremos en los siguientes 30 días. A los 60 días se ejercerá de inmediato un embargo preventivo sobre los artículos, hasta que el pago de la deuda sea resarcido en su totalidad. Después de que hagan uso del embargo, el cliente deberá pagar a <span class="font-bold">antboxs</span> los servicios y cargos a las mismas tarifas que se establecieron en virtud de estos Términos.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-8" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Existe un periodo de gracia?</a>
                            </div>
                            <div id="collapse-6-8" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Sí. 10 días a partir de su fecha de aniversario.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-9" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿De cuánto es la cuota de cargo por demora?</a>
                            </div>
                            <div id="collapse-6-9" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>El cargo es de $150 pesos por mes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-10" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cómo manejan cuentas de clientes morosos?</a>
                            </div>
                            <div id="collapse-6-10" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>En caso de que el pago de la deuda no se liquide en tres mensualidades y el cliente no reclame su contenido o se comprometa a liquidar el pago adeudado en los siguientes 15 días, <span class="font-bold">antboxs</span> los donará a una institución de beneficencia ante Notario Público, deslindándose por completo de cualquier responsabilidad. Después de un periodo de tres meses de no realizar el pago empezaremos un proceso de subasta pública. Sus artículos se ofertarán públicamente. No podrá hacer uso de <span class="font-bold">antboxs</span> de nuevo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-6-11" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Cómo manejan las devoluciones por cargo?</a>
                            </div>
                            <div id="collapse-6-11" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Las devoluciones afectan seriamente nuestro negocio y nuestra relación con el banco. Consideramos que una devolución es una violación a nuestro contrato con el cliente.</p>
                                    <p>Si existe una disputa en relación a una cuenta, puede ponerse en contacto con el departamento de contabilidad y lo manejaremos directamente.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-ban"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>EXCEPCIONES, LAS COSAS SUCEDEN</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-7-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué pasa si ordene contenedores, me los entregan, pero no quiero hacer uso del servicio?</a>
                            </div>
                            <div id="collapse-7-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Se te hará un cargo de $158 pesos por cancelación del servicio  y recogemos los contenedores.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-7-2" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué sucede si me quedo con sus contenedores?</a>
                            </div>
                            <div id="collapse-7-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Habrá un cargo de $158 pesos por contenedor, con cargo automático a tu tarjeta. Este mismo cargo se considera depósito en lo que los entregas.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-7-3" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué sucede si ordeno contenedores y no hay nadie en casa que los reciba?</a>
                            </div>
                            <div id="collapse-7-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Si no podemos dejarlos en casa con un portero, lo consideramos como que el cliente “no apareció”. Ya que nosotros realizamos nuestra parte de la entrega, será necesario hacerle un cargo de $158 pesos, o bien podrá ponerse en contacto con nosotros para programar otra entrega. Haremos un ajuste a su cuenta.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>ACTUALIZACIONES DE LA CUENTA</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-8-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué sucede si tengo <span class="font-bold">antboxs</span>, pero quiero agregar más porque necesito más espacio para almacenar?</a>
                            </div>
                            <div id="collapse-8-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Te entregaremos contenedores adicionales y prorrateamos el almacenaje que ya tienes con nosotros para que, al momento de tu fecha de aniversario, pagues únicamente por el tiempo en que estos contenedores extras han sido utilizados. La fecha de aniversario queda de la misma manera.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-8-2" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Qué sucede si tengo contenedores con ustedes y deseo darlos de baja en mi cuenta para mantener menos artículos en mis <span class="font-bold">antboxs</span>?</a>
                            </div>
                            <div id="collapse-8-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Únicamente se hará un cargo por los artículos que mantengas almacenados. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-8-3" class="collapsed"><i class="fa fa-minus pull-left"></i> <span class="font-bold">antboxs</span> dejó 10 contenedores en mi departamento, pero solo 5 están listos para irse. ¿Pueden recoger esos 5 y regresar mañana por el resto? ¿Hay algún cargo extra por el regreso del transportista?</a>
                            </div>
                            <div id="collapse-8-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>- Sí. Usa la aplicación en línea y solicita que recojamos los 5 contenedores que ya tienes listos.</p>
                                    <p>- No, no hay que pagar extra por el hecho de que el transportista regrese por los otros 5 ya que esos 5 contenedores exceden nuestro mínimo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-8-3" class="collapsed"><i class="fa fa-minus pull-left"></i> <span class="font-bold">antboxs</span> dejó 4 contenedores en mi departamento, pero solamente he llenado 3. ¿Podrán recoger el único que quedo más adelante?</a>
                            </div>
                            <div id="collapse-8-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Sí. Usa la aplicación en línea y solicita que recojamos los 3 contenedores que ya tienes listos. - No, no hay que pagar extra por el hecho de que el transportista regrese por el faltante.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-gift"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>NO EMPACAREMOS POR TI</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-9-1" class="collapsed"><i class="fa fa-minus pull-left"></i> ¿Pueden ustedes encargarse de empacar mis artículos en los contenedores?</a>
                            </div>
                            <div id="collapse-9-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>No. El empaque es responsabilidad del cliente por completo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt30">
                    <div class="panel-group panel-icon-left panel-bottom-border">
                        <div class="media ml15">
                            <div class="media-left">
                                <div class="icon icon-color icon-size-3" data-hover="rubberBand">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                            <div class="media-body media-middle">
                                <h4>ORDENAR CONTENEDORES Y ESPERARLOS</h4>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse-10-1" class="collapsed"><i class="fa fa-minus pull-left"></i> Ordené mis contenedores y empaqué en tiempo y forma. No quiero estar esperando todo el día al operador como espero al señor de cable. ¿Cómo funciona esto?</a>
                            </div>
                            <div id="collapse-10-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Esperar por entregas a domicilio en la CDMX o cualquier otra ciudad es frustrante, lo sabemos.</p>
                                    <p>Sabemos que, si se le notifica de manera adecuada a nuestros clientes, el nivel de frustración se reduce. Queremos mantener informados a nuestros clientes sobre esto.</p>
                                    <p>Te notificaremos cuando nuestro operador de <span class="font-bold">antboxs</span> vaya en camino vía SMS y correo electrónico, así como una fotografía del operador que arribará a la puerta de su casa. Serás capaz de seguir su progreso en vivo, y su ruta se actualizará por medio de nuestro GPS con tiempo estimado de arribo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- CONTAINER -->
        <div class="iwrap pt70 pb70">
            <div class="container">
                <div class="row irow-xs nobg" data-animate="fadeInUp">
                    <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 text-center">
                        <div class="circle"></div>
                        <div class="icon icon-color icon-size-6">
                            <i class="fa fa-archive"></i>
                        </div>
                        <h1>Tus artículos de temporada, solo durante la temporada</h1>
                        <p>Sabemos que todo tiene temporadas y que la ropa y la decoración cambia con ellas. Nosotros guardamos los artículos que no estés utilizando y te estén quitando espacio, mucho más rápido, sencillo y conveniente que llevar todo a una bodega, a casa de algún familiar amigos.</p>
                        <p>¡Recupera tu espacio!</p>
                        <div class="heading-divider heading-divider-xs mb30"></div>
                        @*<a href="" class="btn btn-primary">Comenzar ahora</a>*@
                        @Html.ActionLink("Comenzar Ahora", "Index", "Precios", new { }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->


    </div>
    <!-- /.content -->

</div>
<!-- /.wrapper -->