@{
    ViewBag.Title = "Antbox";
}
<!-- WRAPPER -->
<div class="wrapper que_debo_hacer">

    <!-- PAGE TITLE -->
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-clock-o"></i>
                    <h1>¿Qué debo hacer?</h1>
                    <div class="divider"></div>
                    <span class="subtitle">Utiliza Antboxs como un profesional</span>
                </div>
            </div>
        </div>
    </header>
    <!-- /.pagetitle -->
    <!-- CONTENT -->
    <div class="content no-pt">

        <!-- CONTAINER -->
        <div class="iwrap iwrap-light">
            <section class="container">
                <div class="row text-wrap text-center">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" data-animate="fadeInDown">
                        <h1>Presenta tus artículos</h1>
                        <p>Junta los artículos que vas a guardar y pide las Antboxs que creas que necesitas. Si son más o menos no te preocupes, recuerda que solo cobramos por lo que utilizas.</p>
                    </div>
                </div>
                <div class="height-300">
                    <img src="~/Images/presenta-tus-articulos.jpg" alt="" data-animate="fadeInUp">
                </div>
            </section>
        </div>
        <!-- /.container -->

        <hr class="hr-nobg" />

        <!-- CONTAINER -->
        <div class="container timeline">
            <div class="row irow-xs onerow" data-animate="fadeInUp">
                <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 text-center">
                    <h1>¿Y después de que pedí mis Antboxs qué pasa?</h1>
                    <div class="heading-divider"></div>
                    <div class="no_portrait"><div class="circle"></div></div>
                </div>
            </div>

            <div class="row irow-xs" data-animate="fadeInUp">
                <div class="col-sm-5 hidden-xs col-sm-push-7"></div>
                <div class="col-sm-2 no-padding no_portrait">
                    <div class="date">Entrega</div>
                </div>
                <div class="col-sm-5 col-sm-pull-7">
                    <img src="~/Images/que-debo-hacer-entrega-de-antboxs.png" class="img-lg" alt="">
                    <h4>Entrega de Antboxs</h4>
                    <p>El operador pasará a tu casa a entregar el número de Antboxs que le solicitaste.</p>
                </div>
            </div>

            <div class="row irow-xs" data-animate="fadeInUp">
                <div class="col-sm-5 hidden-xs"></div>
                <div class="col-sm-2 no-padding no_portrait">
                    <div class="date">Esperamos</div>
                </div>
                <div class="col-sm-5">
                    <img src="~/Images/que-debo-hacer-esperamos-20-minutos.png" class="img-lg" alt="">
                    <h4>Esperamos 20 minutos</h4>
                    <p>Te puede esperar hasta 20 minutos, para liberar tu espacio de inmediato. O puede regresar cuando tú nos lo indiques.</p>
                </div>
            </div>

            <div class="row irow-xs" data-animate="fadeInUp">
                <div class="col-sm-5 hidden-xs col-sm-push-7"></div>
                <div class="col-sm-2 no-padding no_portrait">
                    <div class="date">Recuerda</div>
                </div>
                <div class="col-sm-5 col-sm-pull-7">
                    <img src="~/Images/que-debo-hacer-toma-fotografias.png" class="img-lg" alt="">
                    <h4>Toma fotografías</h4>
                    <p>Toma fotografías de tus artículos, si quieres, para que recuerdes qué hay en cada Antbox.</p>
                </div>
            </div>

            <div class="row irow-xs" data-animate="fadeInUp">
                <div class="col-sm-5 hidden-xs"></div>
                <div class="col-sm-2 no-padding no_portrait">
                    <div class="date">Empacado</div>
                </div>
                <div class="col-sm-5">
                    <img src="~/Images/que-debo-hacer-sellos-de-seguridad.png" class="img-lg" alt="">
                    <h4>Sellos de seguridad</h4>
                    <p>Una vez que tus Antboxs estén empacadas, el operador tomará una foto de la caja antes de cerrarla e identificarla con los sellos de seguridad inviolables.</p>
                </div>
            </div>

            <div class="row irow-xs nobg" data-animate="fadeInUp">
                <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 text-center">
                    <div class="no_portrait"><div class="circle"></div></div>
                    <div class="icon icon-color icon-size-6">
                        <i class="fa fa-archive"></i>
                    </div>
                    <h1>Administración de tus Antboxs</h1>
                    <p>
                        Antboxs tiene un sistema de administración de inventarios, con tus fotografía, y si lo ingresaste tu inventario. Para que cuando quieras solicitar alguna, sepas exactamente cual quieres.
                        Administrar tu inventario adecuadamente te ayudará a tener la máxima experiencia de servicio.
                    </p>
                    <div class="heading-divider heading-divider-xs mb30"></div>
                    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registro">Comenzar Ahora</button>*@
                    @Html.ActionLink("Comenzar Ahora", "Index", "Precios", new { }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content -->

</div>
<!-- /.wrapper -->

