<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <table id="m_3039729907506022045header" style="border:0;border-collapse:separate;margin:0 auto;text-align:left" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td valign="top" style="text-align:right" align="right">
                    <img src="~/Content/Images/antboxs_logo.png" class="img-responsive" alt="antboxs" />
                </td>
            </tr>
        </tbody>
    </table>
    <table id="m_3039729907506022045body" style="margin:0 auto;width:650px" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td id="m_3039729907506022045body-container" style="padding:20px 40px">
                    <div class="m_3039729907506022045center" style="text-align:center" align="center">
                        <div id="m_3039729907506022045content">
                            <h2>Gracias por usar antboxs!</h2>
                            <p style="color:#444;font-size:17px;line-height:24px;margin-bottom:0">Para empezar, haz clic en el enlace de abajo para confirmar tu cuenta.</p>
                        </div>
                        <div id="m_3039729907506022045cta" style="border:1px solid #cf2626;border-radius:3px;display:inline-block;margin:20px 0;padding:12px 24px;background-color: #cf2626;">
                            <a href="@ViewBag.Link" style="background:#cf2626;color:#fcfcfc;display:inline-block;text-decoration:none;" target="_blank">confirmar tu cuenta</a>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
